<div class="section-topic section-color mb-5">
  {{'CHARACTER_INFO.MY_ART' | translate}}
</div>
<div class="caption mb-5 after-reflect">
  {{'GLOBAL.WARNING' | translate}}<br />
  {{'GLOBAL.DONT_LIST' | translate}}<br />
  {{'GLOBAL.DONT_LIST_SUB' | translate}}
</div>
<div class="row">
  <div class="row">
    <div class="col-12 col-md-7 mb-3 d-flex">
      <div class="black-frame m-auto">
        <img src="/assets/images/original/collector/the_collector_design_ori_rin_linin.jpeg"/>
      </div>
    </div>
    <div class="col-12 col-md-5 mb-3">
      <div class="white-double-frame small">
        <img src="/assets/images/original/collector/collector_gallery_ori_rin_linin.jpeg"/>
      </div>
    </div>
  </div>
</div>
<div class="blank-space">&nbsp;</div>
<div class="section-topic section-color mb-5">
  {{'CHARACTER_INFO.FAN_ART' | translate}}
</div>
<div class="row">
  <div class="col-12 col-md-4 mb-3 d-flex flex-column">
    <div class="black-frame circle small mini-frame-300 ms-auto me-auto me-md-0 mb-3">
      <img src="/assets/images/original/collector/the_collector_overloadwork.png"/>
    </div>
    <div class="white-frame circle small mini-frame-300 ms-auto me-auto me-md-0">
      <img src="/assets/images/original/collector/the_collector_overloadwork2.png"/>
    </div>
  </div>
  <div class="col-12 col-md-8 mb-3">
    <div class="black-frame mini-frame-500 me-auto ms-auto ms-md-0">
      <img src="/assets/images/original/collector/the_collector_cookie_chocoladka.jpeg"/>
    </div>
  </div>
</div>
