@use 'variables' as var;
@import "bootstrap-mixin";

.over-header {
  position: absolute;
  right: 0;
  z-index: var.$over-header-level;
  height: 100%;
  overflow: hidden;
}

.menu {
  position: relative;
  height: 100%;
  background: var.$bg-menu;
  padding: 40px;
  width: 0px;
  margin-right: -85px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &.open {
    margin-right: 0;
    width: 40vw;

    @include media-breakpoint-down(lg) {
      width: 90vw;
    }
  }

  .menu-btn {
    position: absolute;
    right: 16px;
    top: 12px;
  }

  a {
    text-decoration: none !important;
    color: var.$light-violet;

    &.active {
      color: var.$violet;
      font-weight: 500;

      .menu-item::before {
        content: '✧ ';
      }
    }

    &:hover {
      color: var.$blue;
    }

    .menu-item {
      font-size: 24px;
      display: flex;
      align-items: center;
    }
  }
}

.show-on-header {
  position: absolute;
  left: 0;
}

.linin-label {
  z-index: var.$linin-label-level;
  width: fit-content;
  cursor: pointer;

  .linin-flag {
    margin-top: 8px;
    margin-left: -10px;
    max-width: 120px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      max-width: 100px;
    }
  }

  .merge-linin-flag {

    &.on-top-scroll {
      .linin-flag {
        @include media-breakpoint-up(md) {
          margin-top: 10px;
          max-width: 300px;
        }
      }
    }
  }

  .linin-flag-hover {
    position: absolute;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 58%;
    top: 26%;
    left: 20%;

  }

  @media (any-pointer: fine) {
    .merge-linin-flag {
      position: relative;

      &:hover {
        .linin-flag-hover {
          transform: scale(1.5);
          opacity: 1;
        }
      }

      &:active {
        .linin-flag-hover {
          transform: scale(1.25);
          opacity: 1;
        }
      }
    }
  }
}

.top-header {
  right: 0;
  z-index: var.$top-header-level;
  background-color: var.$black;

  .inner-wallpaper {
    $inner-light: var.$dark-blue;
    $inner-dark: var.$darker-blue;
    position: relative;
    $minorStrip: 5vmin;
    $majorStrip: 10vmin;
    background: repeating-linear-gradient(90deg,
        $inner-dark,
        $inner-dark $minorStrip,
        $inner-light $minorStrip,
        $inner-light $majorStrip);
  }
}

.menu-btn {
  border-radius: 8px;
  background-color: var.$white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.collaspe-icon {
  transform: translateY(6px);
  cursor: pointer;
  transition: all .2s ease;
  &.expand {
    transform: rotate(180deg) translateY(-6px);
  }
}

.sub-menu {
  height: 0px;
  overflow: hidden;
  transition: all .6s ease-out;
  &.open {
    height: 264px;

    @include media-breakpoint-down(lg) {
      height: 280px;
    }
  }
  li {
    cursor: pointer;
    font-size: 20px;
    color: var.$light-violet;

    &:hover {
      color: var.$blue;
    }
  }
  .active {
    color: var.$violet;
    font-weight: 500;
    &::marker {
      content: '✧ ';
    }
  }
  ::marker {
    content: '- ';
    font-size: 1.2em;
  }
}
