<a class="show-on-header linin-label" routerLink="/home" alt="Home page">
  <div class="merge-linin-flag" [class.on-top-scroll]="minimizeFlag">
    <img class="linin-flag-hover" src="/assets/images/linin-icon.png?v=2">
    <img class="linin-flag" src="/assets/images/linin-label.png">
  </div>
</a>
<div class="top-header show-on-header">
  <div class="border-wall-paper"></div>
  <div class="inner-wallpaper d-flex">
    <button class="menu-btn ms-auto me-3" (click)="openMenu=true">
      <span class="material-symbols-rounded">
        menu
      </span>
    </button>
    <div class="bg-wallpaper"></div>
  </div>
  <div class="border-wall-paper"></div>
</div>
<div class="over-header">
  <div class="menu" [class.open]="openMenu">
    <button class="menu-btn" (click)="openMenu=false">
      <span class="material-symbols-rounded">
        close
      </span>
    </button>
    <div>&nbsp;</div>
    <a routerLink="/original" (click)="openMenu=false" routerLinkActive="active">
      <div class="menu-item">
        <app-text-rollin-entrance [text]="'Original Characters'" [runAnimation]="openMenu" [lastItemPosition]="202">
          <i class="material-symbols-rounded ms-1 collaspe-icon" [class.expand]="characterInfoActive"
          (click)="$event.preventDefault();$event.stopPropagation();toggleCharacterInfo();">
          stat_1
        </i>
        </app-text-rollin-entrance>
      </div>
    </a>
    <div class="sub-menu" [class.open]="characterInfoActive">
      <ul>
        @for (item of characterInfoList; track item.name) {
        <li [routerLink]="'/character-info/' + item.name" routerLinkActive="active" (click)="openMenu=false"
          (isActiveChange)="checkIfCharacterInfoActive($event)">
          {{ item.title | translate}}
        </li>
        }
      </ul>
    </div>
    <div>&nbsp;</div>
    <a routerLink="/playground" (click)="openMenu=false" routerLinkActive="active">
      <div class="menu-item">
        <app-text-rollin-entrance [text]="'Playground'" [runAnimation]="openMenu"></app-text-rollin-entrance>
      </div>
    </a>
    <div>&nbsp;</div>
  </div>
</div>
