
@import "bootstrap-mixin";
@import "picture-frame";

.me-pic {
  min-width: 200px;
  min-width: 180px;
}

.topic-div {
  width: 596px;
  max-width: 800px;
}

.bth-width {
  width: 128px;
}

.sub-topic {
  font-size: 18px;
}
