
@use "variables" as var;
@import "bootstrap-mixin";
@import "picture-frame";

.me-pic {
  min-width: 200px;
  min-height: 260px;
}

.topic-div {
  width: 100%;
  max-width: var.$about-me-width;
}

.bth-width {
  width: 128px;
}

.sub-topic {
  font-size: 18px;
}

.main-link {
  color: var.$white;
  font-weight: 400;
  text-decoration: none;
  transition: all .1s ease-in;
  letter-spacing: 0em;
  &:hover {
    color: var.$black;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}
