<div class="container-fluid container-lg mt-5">
  <app-about-me-pic-header></app-about-me-pic-header>
  <div class="flex mb-5">
    <div class="description-frame mx-auto p-4">
      <div class="section-sub-topic mb-2 mb-md-4">
        {{ "ABOUT_ME.TITLE" | translate}}
      </div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'ABOUT_ME.DESC' | translate"></span><br/><br/>
        <span [innerHTML]="'ABOUT_ME.DESC2' | translate"></span><br/><br/>
        <span [innerHTML]="'ABOUT_ME.DESC3' | translate"></span><br/><br/>
        <span [innerHTML]="'ABOUT_ME.WELCOME' | translate"></span><br/><br/>
      </div>
    </div>
  </div>
  <app-social-media-section></app-social-media-section>
  <div class="caption mb-5">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
</div>
