@use "variables" as var;

.float-search {
    background-color: var.$white;
    border-radius: 36px;
    padding: 10px 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 300px;
    z-index: var.$sticky-level;
    height: 64px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .6), 0 5px 2px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .8);
    --mat-button-filled-container-shape: 36px;
    --mat-form-field-outlined-container-shape: 36px;
    transition: .5s all ease-out;
}

.hide {
  bottom: -64px;
}

.show {
  bottom: 10px;
}
