version: "3.9"

services:
  frontend:
    image: node:20-alpine
    container_name: angular-dev
    working_dir: /app
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm ci && npm run env && npx ng serve --host 0.0.0.0 --port 4200"
