@use "slide-animation";
@import "bootstrap-mixin";
@import"picture-frame";


.equal-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  @include media-breakpoint-up(md) {
    :last-child {
      grid-column: 1 / span 3;
    }
  }

  @include media-breakpoint-up(xl) {
    :last-child {
      grid-column: 1;
    }
  }
}
