@if (galleryRoom?.length === 1) {
  <div class="row d-flex">
    <div class="col-12">
      <a class="{{galleryRoom[0].frameStyle}} small mini-frame-500 hover"
      (click)="openArtWorkLabel(galleryRoom[0])" title="{{ galleryRoom[0].content.title }}">
        <img [src]="galleryRoom[0].picUrl | imagePreview:galleryRoom[0]?.previewPic?.disabled" [style.min-width]="galleryRoom[0]?.previewPic?.width"
        [style.min-height]="galleryRoom[0].previewPic.height" alt="{{ galleryRoom[0].content.title }}"/>
      </a>
    </div>
  </div>
}
@if (galleryRoom?.length === 2) {
  <div class="row">
    <div class="col-12 mb-3 d-flex" [ngClass]="{'col-md-8': pattern !== 'equal', 'col-md-6': pattern === 'equal'}">
      <a class="{{galleryRoom[0].frameStyle}} hover"  [ngClass]="{'m-auto': pattern !== 'equal', 'ms-auto me-auto me-md-0': pattern === 'equal'}"
      (click)="openArtWorkLabel(galleryRoom[0])" title="{{ galleryRoom[0].content.title }}">
        <img [src]="galleryRoom[0].picUrl | imagePreview:galleryRoom[0]?.previewPic?.disabled" [style.min-width]="galleryRoom[0]?.previewPic?.width"
        [style.min-height]="galleryRoom[0].previewPic.height" alt="{{ galleryRoom[0].content.title }}"/>
      </a>
    </div>
    <div class="col-12 mb-3 d-flex"  [ngClass]="{'col-md-4': pattern !== 'equal', 'col-md-6': pattern === 'equal'}">
      <a class="{{galleryRoom[1].frameStyle}} hover" [ngClass]="{'m-auto': pattern !== 'equal', 'me-auto ms-auto ms-md-0': pattern === 'equal'}"
      (click)="openArtWorkLabel(galleryRoom[1])" title="{{ galleryRoom[1].content.title }}">
        <img [src]="galleryRoom[1].picUrl | imagePreview:galleryRoom[1]?.previewPic?.disabled" [style.min-width]="galleryRoom[1]?.previewPic?.width"
        [style.min-height]="galleryRoom[1].previewPic.height" alt="{{ galleryRoom[1].content.title }}"/>
      </a>
    </div>
  </div>
}
@if (galleryRoom?.length === 3) {
  <div class="row">
    <div class="col-12  mb-3 d-flex flex-column" [class.col-md-4]="pattern !== 'center'"  [class.col-md-5]="pattern === 'center'">
      <a class="{{galleryRoom[0].frameStyle}} small mini-frame-300 mt-auto ms-auto me-auto me-md-0 mb-3 hover"
      (click)="openArtWorkLabel(galleryRoom[0])" title="{{ galleryRoom[0].content.title }}">
        <img [src]="galleryRoom[0].picUrl | imagePreview:galleryRoom[0]?.previewPic?.disabled" [style.min-width]="galleryRoom[0]?.previewPic?.width"
        [style.min-height]="galleryRoom[0].previewPic.height" alt="{{ galleryRoom[0].content.title }}"/>
      </a>
      <div class="{{galleryRoom[1].frameStyle}} small mini-frame-300 mb-auto ms-auto me-auto me-md-0 hover"
      (click)="openArtWorkLabel(galleryRoom[1])" title="{{ galleryRoom[1].content.title }}">
        <img [src]="galleryRoom[1].picUrl | imagePreview:galleryRoom[1]?.previewPic?.disabled" [style.min-width]="galleryRoom[1]?.previewPic?.width"
        [style.min-height]="galleryRoom[1].previewPic.height" alt="{{ galleryRoom[1].content.title }}"/>
      </div>
    </div>
    <div class="col-12 mb-3 d-flex" [class.col-md-8]="pattern !== 'center'"  [class.col-md-7]="pattern === 'center'">
      <div class="{{galleryRoom[2].frameStyle}} me-auto ms-auto ms-md-0 hover"
      (click)="openArtWorkLabel(galleryRoom[2])" title="{{ galleryRoom[2].content.title }}">
        <img [src]="galleryRoom[2].picUrl | imagePreview:galleryRoom[2]?.previewPic?.disabled" [style.min-width]="galleryRoom[2]?.previewPic?.width"
        [style.min-height]="galleryRoom[2].previewPic.height" alt="{{ galleryRoom[2].content.title }}"/>
      </div>
    </div>
  </div>
}
@if (galleryRoom?.length >= 4) {
<div class="row mb-3" [appScrollIntoViewWhenReach]="enableAutoScrollFirstRow">
  <div class="col-12 d-flex flex-column" [class.col-lg-3]="pattern !== '3-rows'"[class.col-lg-4]="pattern === '3-rows'">
    <a class="{{ galleryRoom[0].frameStyle }} original-slide-in slide-in hover mt-0 mt-lg-auto ms-auto me-auto me-lg-0 mb-2 mb-lg-0 mini-frame-200"
      (click)="openArtWorkLabel(galleryRoom[0])" title="{{ galleryRoom[0].content.title }}">
      <img [src]="galleryRoom[0].picUrl | imagePreview:galleryRoom[0]?.previewPic?.disabled" [style.min-width]="galleryRoom[0]?.previewPic?.width"
        [style.min-height]="galleryRoom[0].previewPic.height" alt="{{ galleryRoom[0].content.title }}">
    </a>
    <div class="{{ galleryRoom[1].frameStyle }}  hover mt-2 ms-auto me-auto me-lg-0 mini-frame-200"
      (click)="openArtWorkLabel(galleryRoom[1])" title="{{ galleryRoom[1].content.title }}">
      <img [src]="galleryRoom[1].picUrl | imagePreview:galleryRoom[1]?.previewPic?.disabled" [style.min-width]="galleryRoom[1]?.previewPic?.width"
        [style.min-height]="galleryRoom[1]?.previewPic?.height" alt="{{ galleryRoom[1].content.title }}">
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex align-items-end mt-3 mt-lg-0">
    <div class="{{ galleryRoom[2].frameStyle }} hover mx-auto original-slide-in slide-in"
      (click)="openArtWorkLabel(galleryRoom[2])" title="{{ galleryRoom[2].content.title }}">
      <img [src]="galleryRoom[2].picUrl | imagePreview:galleryRoom[2]?.previewPic?.disabled" [style.min-width]="galleryRoom[2]?.previewPic?.width"
        [style.min-height]="galleryRoom[2]?.previewPic?.height" alt="{{ galleryRoom[2].content.title }}">
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex mt-3 mt-lg-0">
    <div
      class="{{ galleryRoom[3].frameStyle }} original-slide-in slide-in hover mt-auto me-auto ms-auto ms-lg-0  mini-frame-300"
      (click)="openArtWorkLabel(galleryRoom[3])" title="{{ galleryRoom[3].content.title }}">
      <img [src]="galleryRoom[3].picUrl | imagePreview:galleryRoom[3]?.previewPic?.disabled" [style.min-width]="galleryRoom[3]?.previewPic?.width"
        [style.min-height]="galleryRoom[3]?.previewPic?.height"alt="{{ galleryRoom[3].content.title }}">
    </div>
  </div>
</div>
}
@if (galleryRoom?.length === 6) {
<div class="row mb-3" [appScrollIntoViewWhenReach]="enableAutoScrollFirstRow">
  <div class="col-12 col-lg-8 d-flex">
    <div class="{{ galleryRoom[4].frameStyle }} hover original-slide-in ms-auto me-auto me-lg-0 mb-3 mb-lg-0"
      (click)="openArtWorkLabel(galleryRoom[4])" title="{{ galleryRoom[4].content.title }} "
      [appAddClassOnScrollPosition]="'slide-in'">
      <img [src]="galleryRoom[4].picUrl | imagePreview" [style.min-width]="galleryRoom[4].previewPic.width"
        [style.min-height]="galleryRoom[4].previewPic.height" alt="{{ galleryRoom[4].content.title }}">
    </div>
  </div>
  <div class="col-12 col-lg-4 d-flex">
    <div class="{{ galleryRoom[5].frameStyle }} hover original-slide-in mini-frame-300 me-auto ms-auto ms-lg-0 d-flex"
      (click)="openArtWorkLabel(galleryRoom[5])" title="{{ galleryRoom[5].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="200">
      <img [src]="galleryRoom[5].picUrl | imagePreview" class="my-auto" alt="{{ galleryRoom[5].content.title }}"
        [style.min-width]="galleryRoom[5].previewPic.width" [style.min-height]="galleryRoom[5].previewPic.height">
    </div>
  </div>
</div>
}
@if (galleryRoom?.length === 8 && (pattern === 'wide' || !pattern)) {
<div class="row mb-3">
  <div class="col-12 col-lg-8">
    <div class="row d-flex">
      <div class="{{ galleryRoom[4].frameStyle }} hover original-slide-in col-12 col-lg mb-3 mx-auto width-fit-content"
        (click)="openArtWorkLabel(galleryRoom[4])" title="{{ galleryRoom[4].content.title }}"
        [appAddClassOnScrollPosition]="'slide-in'">
        <img src="{{ galleryRoom[4].picUrl | imagePreview}}" [style.min-width]="galleryRoom[4]?.previewPic?.width"
          [style.min-height]="galleryRoom[4]?.previewPic?.height" alt="{{ galleryRoom[4].content.title }}">
      </div>
      <div
        class="{{ galleryRoom[5].frameStyle }} hover original-slide-in col-12 col-lg ms-auto ms-lg-3 mb-3 me-auto width-fit-content"
        (click)="openArtWorkLabel(galleryRoom[5])" title="{{ galleryRoom[5].content.title }}"
        [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="200">
        <img src="{{ galleryRoom[5].picUrl | imagePreview}}" [style.min-width]="galleryRoom[5]?.previewPic?.width"
          [style.min-height]="galleryRoom[5]?.previewPic?.height" alt="{{ galleryRoom[5].content.title }}">
      </div>
    </div>
    <div class="row d-flex">
      <div class="{{ galleryRoom[6].frameStyle }} hover original-slide-in mx-auto mb-3 mb-lg-0  mini-frame-300"
        (click)="openArtWorkLabel(galleryRoom[6])" title="{{ galleryRoom[6].content.title }}"
        [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="300">
        <img src="{{ galleryRoom[6].picUrl | imagePreview}}" [style.min-width]="galleryRoom[6]?.previewPic?.width"
          [style.min-height]="galleryRoom[6]?.previewPic?.height" alt="{{ galleryRoom[6].content.title }}">
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="{{ galleryRoom[7].frameStyle }} hover original-slide-in" (click)="openArtWorkLabel(galleryRoom[7])"
      title="{{ galleryRoom[7].content.title }}" [appAddClassOnScrollPosition]="'slide-in'">
      <img src="{{ galleryRoom[7].picUrl | imagePreview}}" [style.min-width]="galleryRoom[7]?.previewPic?.width"
        [style.min-height]="galleryRoom[7]?.previewPic?.height" alt="{{ galleryRoom[7].content.title }}">
    </div>
  </div>
</div>
}
@if (galleryRoom?.length === 8 && pattern === '3-rows') {
<div class="row mb-3">
  <div class="col-1 d-none d-lg-block"></div>
  <div class="col-12 col-lg-5 d-flex">
    <div class="{{ galleryRoom[4].frameStyle }} hover original-slide-in me-auto ms-auto ms-lg-3 mb-3"
      (click)="openArtWorkLabel(galleryRoom[4])" title="{{ galleryRoom[4].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'">
      <img src="{{ galleryRoom[4].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[4].content.title }}"
        [style.min-width]="galleryRoom[4].previewPic.width" [style.min-height]="galleryRoom[4].previewPic.height">
    </div>
  </div>
  <div class="col-12 col-lg-5 d-flex">
    <div class="{{ galleryRoom[5].frameStyle }} hover original-slide-in mini-frame-300 me-auto ms-auto ms-lg-0 d-flex"
      (click)="openArtWorkLabel(galleryRoom[5])" title="{{ galleryRoom[5].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="300">
      <img src="{{ galleryRoom[5].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[5].content.title }}"
        [style.min-width]="galleryRoom[5].previewPic.width" [style.min-height]="galleryRoom[5].previewPic.height">
    </div>
  </div>
</div>
<div class="row mb-3" [appScrollIntoViewWhenReach]>
  <div class="col-3 d-none d-lg-block"></div>
  <div class="col-12 col-lg-4 d-flex">
    <div
      class="{{ galleryRoom[6].frameStyle }} hover original-slide-in mb-3 mini-frame-300 d-flex ms-auto me-auto me-lg-0 small"
      (click)="openArtWorkLabel(galleryRoom[6])" title="{{ galleryRoom[6].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="100">
      <img src="{{ galleryRoom[6].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[6].content.title }}"
        [style.min-width]="galleryRoom[6].previewPic.width" [style.min-height]="galleryRoom[6].previewPic.height">
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <div
      class="{{ galleryRoom[7].frameStyle }} hover original-slide-in mini-frame-300 me-auto ms-auto ms-lg-0 d-flex small"
      (click)="openArtWorkLabel(galleryRoom[7])" title="{{ galleryRoom[7].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="300">
      <img src="{{ galleryRoom[7].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[7].content.title }}"
        [style.min-width]="galleryRoom[7].previewPic.width" [style.min-height]="galleryRoom[7].previewPic.height">
    </div>
  </div>
</div>
}
@if (galleryRoom?.length === 9) {
<div class="row mb-3">
  <div class="col-12 col-lg-9">
    <div class="row d-flex">
      <div class="{{ galleryRoom[4].frameStyle }} hover original-slide-in col-12 col-lg mb-3 mx-auto width-fit-content"
        (click)="openArtWorkLabel(galleryRoom[4])" title="{{ galleryRoom[4].content.title }}"
        [appAddClassOnScrollPosition]="'slide-in'">
        <img src="{{ galleryRoom[4].picUrl | imagePreview}}" [style.min-width]="galleryRoom[4].previewPic.width"
          [style.min-height]="galleryRoom[4].previewPic.height" alt="{{ galleryRoom[4].content.title }}">
      </div>
      <div
        class="{{ galleryRoom[5].frameStyle }} hover original-slide-in col-12 col-lg ms-auto ms-lg-3 mb-3 me-auto width-fit-content"
        (click)="openArtWorkLabel(galleryRoom[5])" title="{{ galleryRoom[5].content.title }}"
        [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="200">
        <img src="{{ galleryRoom[5].picUrl | imagePreview}}" [style.min-width]="galleryRoom[5].previewPic.width"
          [style.min-height]="galleryRoom[5].previewPic.height" alt="{{ galleryRoom[5].content.title }}">
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 d-flex">
    <div class="{{ galleryRoom[6].frameStyle }} hover original-slide-in my-auto" (click)="openArtWorkLabel(galleryRoom[6])"
      title="{{ galleryRoom[7].content.title }}" [appAddClassOnScrollPosition]="'slide-in'">
      <img src="{{ galleryRoom[6].picUrl | imagePreview}}" [style.min-width]="galleryRoom[6].previewPic.width"
        [style.min-height]="galleryRoom[6].previewPic.height" alt="{{ galleryRoom[6].content.title }}">
    </div>
  </div>
  <div class="col-12 col-lg-5 d-flex">
    <div
      class="{{ galleryRoom[7].frameStyle }} hover original-slide-in mb-3 d-flex ms-auto me-auto me-lg-0 small"
      (click)="openArtWorkLabel(galleryRoom[7])" title="{{ galleryRoom[7].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="100">
      <img src="{{ galleryRoom[7].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[7].content.title }}"
        [style.min-width]="galleryRoom[7].previewPic.width" [style.min-height]="galleryRoom[7].previewPic.height">
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <div
      class="{{ galleryRoom[8].frameStyle }} hover original-slide-in me-auto ms-auto ms-lg-0 d-flex small"
      (click)="openArtWorkLabel(galleryRoom[8])" title="{{ galleryRoom[8].content.title }}"
      [appAddClassOnScrollPosition]="'slide-in'" [addClassDelay]="300">
      <img src="{{ galleryRoom[8].picUrl | imagePreview}}" class="my-auto" alt="{{ galleryRoom[8].content.title }}"
        [style.min-width]="galleryRoom[8].previewPic.width" [style.min-height]="galleryRoom[8].previewPic.height">
    </div>
  </div>
</div>
}
