<div class="cover">
</div>
<div class="container-fluid container-lg mt-2 mt-md-5">
  <div>
    <app-reflection-font [text]="'PLAYGROUND.TITLE' | translate" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="section-content section-color mx-auto description">
    {{'PLAYGROUND.DESCRIPTION' | translate}}
  </div>
  <div class="flex gap-4 justify-center items-stretch">
      <app-image-card [imageUrl]="'/assets/images/playground/playground-artfight-card.webp?v=1'" [minHeight]="'36em'"
      [link]="'/playground-room/art-fight-2024'" [title]="'PLAYGROUND.ARTFIGHT_TOPIC' | translate" [miniTitle]="'PLAYGROUND.ARTFIGHT' | translate"/>
    <div class=" playground-menu hidden lg:flex">
      <div class="m-auto flex flex-col">
        @for(room of playgroundMenuConfig; track room;let first=$first, last=$last) {
          @if (!first && !last) {
            <a [routerLink]="room.link">
              <app-playground-menu class="mb-3" [label]="room.label"></app-playground-menu>
            </a>
          }
        }
      </div>
    </div>
      <app-image-card [imageUrl]="'/assets/images/playground/playground-etc-card.webp'" [minHeight]="'36em'"
      [link]="'/playground-room/etc'" [title]="'PLAYGROUND.ETC_TOPIC' | translate" [miniTitle]="'PLAYGROUND.ETC' | translate"/>
  </div>
    <div class="flex playground-menu lg:hidden">
      <div class="m-auto flex flex-col">
        @for(room of playgroundMenuConfig; track room;let first=$first, last=$last) {
          @if (!first && !last) {
            <a [routerLink]="room.link">
              <app-playground-menu class="mb-3" [label]="room.label"></app-playground-menu>
            </a>
          }
        }
      </div>
    </div>
</div>
<div class="dark-section p-4 mt-4">
  <div>
    <app-reflection-font [text]="'PLAYGROUND.SHOW_CASE' | translate" [fontClass]="'sub-title mx-auto'"></app-reflection-font>
  </div>
  <div class="flex items-center justify-center flex-col md:flex-row">
    <app-character-icon link="/playground-room/vocaloid" img="/assets/images/playground/snow_miku_rin_linin_preview.webp"
      hoverDescription="Vocaloid" label="Miku"></app-character-icon>
    <app-character-icon link="/playground-room/sweet-art" img="/assets/images/playground/strwberry_rin_linin_preview.webp"
      hoverDescription="Sweet Art" label="Strawberry"></app-character-icon>
    <app-character-icon link="/playground-room/genshin-fan-art" img="/assets/images/playground/lyney_lynette_genshin_rin_linin_preview.webp"
      hoverDescription="Genshin Fanart" label="Lyney Lynette"></app-character-icon>
  </div>
  <div class="flex items-center justify-center flex-col md:flex-row">
    <app-character-icon link="/playground-room/art-collab" img="/assets/images/playground/rin_linin_color_by_rin_linin_preview.webp"
      hoverDescription="Collab" label="Rin Linin"></app-character-icon>
    <app-character-icon link="/playground-room/vtuber-fan-art" img="/assets/images/playground/dacopo_vtuber_rin_linin_preview.webp"
      hoverDescription="Vtuber" label="Dacapo"></app-character-icon>
  </div>
  <div class="mb-3">&nbsp;</div>
</div>
