<div class="container">
    <div class="row mb-3">
        <div class="col-12 col-lg d-flex flex-column">
            <div class="black-frame circle mt-0 mt-lg-auto ms-auto me-auto me-lg-0 mini-frame-200" >
                <img src="/assets/images/placement-2.jpg">
            </div>
            <div class="white-frame mt-2 ms-auto me-auto me-lg-0 mini-frame-200" >
                <img src="/assets/images/placement-2.jpg">
            </div>
        </div>
        <div class="col-12 col-lg d-flex align-items-end mt-3 mt-lg-0">
            <div class="white-double-frame small" >
                <img src="/assets/images/placeholder.jpg">
            </div>
        </div>
        <div class="col-12 col-lg d-flex mt-3 mt-lg-0">
            <div class="black-frame small mt-auto me-auto ms-auto ms-lg-0  mini-frame-300">
                <img src="/assets/images/placement-2.jpg">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 col-lg-8 d-flex">
            <div class="ms-auto">
                <div class="row">
                    <div class="black-frame col-12 col-lg mb-3" >
                        <img src="/assets/images/placement-3.jpg" class="">
                    </div>
                    <div class="black-frame col-12 col-lg ms-0 ms-lg-3 mb-3">
                        <img src="/assets/images/placement-3.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="white-frame mx-auto mb-3 mb-lg-0  mini-frame-300" >
                        <img src="/assets/images/placement-2.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 d-flex">
            <div class="col">
                <div class="black-frame" >
                    <img src="/assets/images/placeholder.jpg">
                </div>
            </div>
        </div>
    </div>
</div>