@import "bootstrap-mixin";


.cover {
    // object-fit: none;
    background: url('/assets/images/playground/playground-cover.webp?v=2') no-repeat 95% 58%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}
