@import "picture-frame";
@import "bootstrap-mixin";

.mini-frame-200 {
    width: inherit;
    max-width: 400px;
    @include media-breakpoint-up(lg) {
       width: 200px;
    }
}


.mini-frame-300 {
    width: inherit;
    max-width: 400px;
    @include media-breakpoint-up(lg) {
       width: 300px;
    }
}