<div class="cover">
</div>
<!-- <div class="border-wall-paper"></div> -->
<div class="container-fluid container-md mt-5">
  <div>
    <app-reflection-font [text]="'Playground'" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="caption mb-5 after-reflect">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
  <div class="section-topic mb-2">
    {{'ART_FIGHT_2024.TITLE' | translate}}
  </div>
  <div class="section-content mb-4">
    {{'ART_FIGHT_2024.DESCRIPTION' | translate}}
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg d-flex flex-column">
      <a class="{{ galleryRoom.furryPic.frameStyle }} hover mt-0 mt-lg-auto ms-auto me-auto me-lg-0 mb-2 mb-lg-0 mini-frame-200"
        (click)="openArtWorkLabel(galleryRoom.furryPic)" title="{{ galleryRoom.furryPic.content.title }}">
        <img [src]="galleryRoom.furryPic.picUrl | imagePreview" >
      </a>
      <div class="{{ galleryRoom.rioniPic.frameStyle }} hover mt-2 ms-auto me-auto me-lg-0 mini-frame-200"
      (click)="openArtWorkLabel(galleryRoom.rioniPic)"  title="{{ galleryRoom.rioniPic.content.title }} ">
        <img [src]="galleryRoom.rioniPic.picUrl | imagePreview">
      </div>
    </div>
    <div class="col-12 col-lg d-flex align-items-end mt-3 mt-lg-0">
      <div class="{{ galleryRoom.mobiasPic.frameStyle }} hover mx-auto"
        (click)="openArtWorkLabel(galleryRoom.mobiasPic)" title="{{ galleryRoom.mobiasPic.content.title }} ">
        <img [src]="galleryRoom.mobiasPic.picUrl | imagePreview">
      </div>
    </div>
    <div class="col-12 col-lg d-flex mt-3 mt-lg-0">
      <div class="{{ galleryRoom.charlottePic.frameStyle }} hover mt-auto me-auto ms-auto ms-lg-0  mini-frame-300"
        (click)="openArtWorkLabel(galleryRoom.charlottePic)" title="{{ galleryRoom.charlottePic.content.title }} ">
        <img [src]="galleryRoom.charlottePic.picUrl | imagePreview">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-lg-8 d-flex">
      <div class="{{ galleryRoom.mirmirPic.frameStyle }} hover ms-auto me-auto me-lg-0 mb-3 mb-lg-0"
        [style.width]="'500px'" (click)="openArtWorkLabel(galleryRoom.mirmirPic)" title="{{ galleryRoom.mirmirPic.content.title }} ">
        <img [src]="galleryRoom.mirmirPic.picUrl | imagePreview">
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex">
      <div class="{{ galleryRoom.herianPic.frameStyle }} hover mini-frame-300 me-auto ms-auto ms-lg-0 d-flex"
      (click)="openArtWorkLabel(galleryRoom.herianPic)" title="{{ galleryRoom.herianPic.content.title }} ">
      <img [src]="galleryRoom.herianPic.picUrl | imagePreview"  class="my-auto">
      </div>
    </div>
  </div>
  <div class="blank-space">&nbsp;</div>

  <div class="row mb-3">
    <div class="col-12 col-lg d-flex flex-column">
      <div class="{{ galleryRoom.idkPic.frameStyle}} hover mt-0 mt-lg-auto ms-auto me-auto me-lg-0 mb-2 mb-lg-0 mini-frame-200 small"
      (click)="openArtWorkLabel(galleryRoom.idkPic)" title="{{ galleryRoom.idkPic.content.title }} ">
        <img [src]="galleryRoom.idkPic.picUrl | imagePreview">
      </div>
      <div class="{{ galleryRoom.monthDragonPic.frameStyle}} hover mt-2 ms-auto me-auto me-lg-0 mini-frame-200 small"
      (click)="openArtWorkLabel(galleryRoom.monthDragonPic)" title="{{ galleryRoom.monthDragonPic.content.title }} ">
        <img src="{{galleryRoom.monthDragonPic.picUrl | imagePreview}}">
      </div>
    </div>
    <div class="col-12 col-lg d-flex align-items-end mt-3 mt-lg-0"
    (click)="openArtWorkLabel(galleryRoom.junePic)" title="{{ galleryRoom.junePic.content.title }} ">
      <div class="{{ galleryRoom.junePic.frameStyle }} hover mx-auto">
        <img src="{{ galleryRoom.junePic.picUrl  | imagePreview}}">
      </div>
    </div>
    <div class="col-12 col-lg d-flex mt-3 mt-lg-0">
      <div class="{{ galleryRoom.miffyPic.frameStyle }} hover mt-auto me-auto ms-auto ms-lg-0  mini-frame-300"
      (click)="openArtWorkLabel(galleryRoom.miffyPic)" title="{{ galleryRoom.miffyPic.content.title }} ">
        <img src="{{ galleryRoom.miffyPic.picUrl  | imagePreview}}">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 col-lg-8 d-flex">
      <div class="ms-auto">
        <div class="row">
          <div class="{{ galleryRoom.peejohnPic.frameStyle }} hover col-12 col-lg mb-3"
          (click)="openArtWorkLabel(galleryRoom.peejohnPic)" title="{{ galleryRoom.peejohnPic.content.title }} ">
            <img src="{{ galleryRoom.peejohnPic.picUrl | imagePreview}}">
          </div>
          <div class="{{ galleryRoom.ponyPic.frameStyle }} hover col-12 col-lg ms-0 ms-lg-3 mb-3"
          (click)="openArtWorkLabel(galleryRoom.ponyPic)" title="{{ galleryRoom.ponyPic.content.title }} ">
            <img src="{{ galleryRoom.ponyPic.picUrl}}">
          </div>
        </div>
        <div class="row">
          <div class="{{ galleryRoom.nebulaPic.frameStyle }} hover mx-auto mb-3 mb-lg-0  mini-frame-300"
          (click)="openArtWorkLabel(galleryRoom.nebulaPic)" title="{{ galleryRoom.nebulaPic.content.title }} ">
            <img src="{{ galleryRoom.nebulaPic.picUrl | imagePreview}}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 d-flex">
      <div class="col">
        <div class="{{ galleryRoom.jacarandaPic.frameStyle }} hover"
        (click)="openArtWorkLabel(galleryRoom.jacarandaPic)" title="{{ galleryRoom.jacarandaPic.content.title }} ">
          <img src="{{ galleryRoom.jacarandaPic.picUrl | imagePreview}}">
        </div>
      </div>
    </div>
  </div>
  <div class="blank-space">&nbsp;</div>


  <div class="row mb-3">
    <div class="col-12 col-lg d-flex flex-column">
      <div class="{{ galleryRoom.alexandraPic.frameStyle }} hover mt-0 mt-lg-auto ms-auto me-auto me-lg-0 mb-2 mb-lg-0 mini-frame-200"
      (click)="openArtWorkLabel(galleryRoom.alexandraPic)" title="{{ galleryRoom.alexandraPic.content.title }} ">
        <img src="{{ galleryRoom.alexandraPic.picUrl | imagePreview}}">
      </div>
      <div class="{{ galleryRoom.haliPic.frameStyle }} hover mt-2 ms-auto me-auto me-lg-0 mini-frame-200 small"
      (click)="openArtWorkLabel(galleryRoom.haliPic)" title="{{ galleryRoom.haliPic.content.title }} ">
        <img src="{{ galleryRoom.haliPic.picUrl | imagePreview}}">
      </div>
    </div>
    <div class="col-12 col-lg d-flex align-items-end mt-3 mt-lg-0">
      <div class="{{ galleryRoom.peepPic.frameStyle }} hover mx-auto"
      (click)="openArtWorkLabel(galleryRoom.peepPic)" title="{{ galleryRoom.peepPic.content.title }} ">
        <img src="{{ galleryRoom.peepPic.picUrl | imagePreview}}">
      </div>
    </div>
    <div class="col-12 col-lg d-flex mt-3 mt-lg-0">
      <div class="{{ galleryRoom.rinaPic.frameStyle }} hover mt-auto me-auto ms-auto ms-lg-0  mini-frame-300"
      (click)="openArtWorkLabel(galleryRoom.rinaPic)" title="{{ galleryRoom.rinaPic.content.title }} ">
        <img src="{{ galleryRoom.rinaPic.picUrl | imagePreview}}">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3 d-none d-lg-block"></div>
    <div class="col-12 col-lg-5 d-flex">
      <div class="{{ galleryRoom.devilPic.frameStyle }} hover ms-0 ms-lg-3 mb-3"
      (click)="openArtWorkLabel(galleryRoom.devilPic)" title="{{ galleryRoom.devilPic.content.title }} ">
        <img src="{{ galleryRoom.devilPic.picUrl | imagePreview}}" class="my-auto">
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex">
      <div class="{{ galleryRoom.moonlitPic.frameStyle }} hover mini-frame-300 me-auto ms-auto ms-lg-0 d-flex"
      (click)="openArtWorkLabel(galleryRoom.moonlitPic)" title="{{ galleryRoom.moonlitPic.content.title }} ">
        <img src="{{ galleryRoom.moonlitPic.picUrl | imagePreview}}" class="my-auto">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-2 d-none d-lg-block"></div>
    <div class="col-12 col-lg-5 d-flex">
      <div class="{{ galleryRoom.raccoonPic.frameStyle }} hover mb-3 mini-frame-300 d-flex ms-auto me-auto me-lg-0 small"
      (click)="openArtWorkLabel(galleryRoom.raccoonPic)" title="{{ galleryRoom.raccoonPic.content.title }} ">
        <img src="{{ galleryRoom.raccoonPic.picUrl | imagePreview}}" class="my-auto">
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="{{ galleryRoom.alanPic.frameStyle }} hover mini-frame-300 me-auto ms-auto ms-lg-0 d-flex small"
      (click)="openArtWorkLabel(galleryRoom.alanPic)" title="{{ galleryRoom.alanPic.content.title }} ">
        <img src="{{ galleryRoom.alanPic.picUrl | imagePreview}}" class="my-auto">
      </div>
    </div>
  </div>
  <div class="blank-space">&nbsp;</div>
</div>
