@import "bootstrap-mixin";
$item-width: 260px;

.cover {
    // object-fit: none;
    background: url('/assets/images/playground/playground-cover.webp?v=2') no-repeat 95% 58%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
    }
}

.playground-menu {
    padding-bottom: 14.7%;
}

.description {
    max-width: $item-width;
    margin-top: -16px;
    margin-bottom: 8px;
    @include media-breakpoint-up(md) {
        margin-top: -36px;
        margin-bottom: 0;
    }
}

.after-reflection {
    @include media-breakpoint-up(md) {
        margin-top: -66px;
    }
}