@import "picture-frame";
@import "bootstrap-mixin";

.cover {
    // object-fit: none;
    background: url('/assets/images/placement-3.jpg') no-repeat 95% 28%;
    background-size: cover;
    min-height: 200px;
    
    @include media-breakpoint-up(lg) {
        min-height: 400px;
     }
}
.mini-frame-200 {
    width: inherit;
    max-width: 400px;
    @include media-breakpoint-up(lg) {
       width: 200px;
    }
}


.mini-frame-300 {
    width: inherit;
    max-width: 400px;
    @include media-breakpoint-up(lg) {
       width: 300px;
    }
}