@use "variables" as var;
$item-width: 260px;

.cover {
    // object-fit: none;
    background: url('/assets/images/playground/playground-cover.webp?v=2') no-repeat 95% 58%;
    background-size: cover;
    min-height: 230px;

    @media (width >= var.$lg) {
        min-height: 226px;
    }
}

.playground-menu {
    padding-bottom: 14.7%;
}

.description {
    max-width: $item-width;
    margin-top: -16px;
    margin-bottom: 8px;
    @media (width >= var.$lg) {
        margin-top: -36px;
        margin-bottom: 0;
    }
}
