@import "picture-frame";
@import "bootstrap-mixin";

.cover {
    // object-fit: none;
    background: url('/assets/images/playground/playground-cover.jpg') no-repeat 95% 58%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}

.after-reflect {
  margin-top: -20px
}

.section-topic {
  color: white;
  font-weight: 700;
  font-size: 26px;
}
.section-content {
  color: white;
}

.caption {
  color: #15063f;
  font-size: 16px;
}

.mini-frame-200 {
    width: fit-content;;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
       width: 200px;
    }
}


.mini-frame-300 {
    width: fit-content;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
       width: 300px;
    }
}

.blank-space {
    height: 300px;
}
