@use "slide-animation";
@import "bootstrap-mixin";
@import"picture-frame";


.cover {
    // object-fit: none;
    background: url('/assets/images/playground/playground-cover.jpg') no-repeat 95% 58%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}


.mini-frame-200 {
    width: fit-content;;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
       width: 200px;
    }
}


.mini-frame-300 {
    width: fit-content;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
       width: 300px;
    }
}
