@use "variables" as var;
@use "commission-frame" as commission;
@use "tab-style" as tab;


.example-image {
    border-radius: 16px;
}

.preview-img {
    max-width: 400px;
}


.select-btn {
    margin: auto;
    border-radius: 16px;
    background-color: var.$white;
    color: var.$image-card-shadow;
    font-size: 1.2rem;
}