@use "character-frame" as char;
@use "commission-frame" as commission;

/* commission item animation */
.animate-frame {
  transition: all .6s ease-out;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
  filter: brightness(50%);
}

.face-example, .half-example, .full-example, .detail-example {
  max-height: 574px;
}
