@use "character-frame" as char;
@use "variables" as var;
@use "commission-frame" as commission;

/* commission item animation */
.animate-frame {
  transition: all .6s ease-out;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
  filter: brightness(50%);
}

.face-example, .half-example, .full-example, .detail-example {
  max-height: 574px;
}

@mixin bright-select {
  background-color: var.$bright-blue;
  color: var.$image-card-shadow;;
}

.description-frame.not-active:hover {
  background: #5353533f;
  &:not(.overflow-hidden) {
    .select-btn {
      @include bright-select;
    }
  }
  &.overflow-hidden {
    .select-btn:hover {
      @include bright-select;
    }
  }
}

.select-btn {
  background-color: var.$image-card-shadow;
  color: var.$white;
  font-weight: 700;
  margin: auto -16px -24px -16px;
  border-bottom-left-radius: 16px;
  padding-top: 10px;;
  padding-bottom: 10px;;
  border-bottom-right-radius: 16px;
  transition: all .2s ease-out;

  &:hover {
    letter-spacing: .1em;
    background-color: var.$dark-sky;
  }
}
