
@if (loading) {
  <div class="flex justify-center items-center loading-div">
    <app-mini-spinning></app-mini-spinning>
  </div>
}
<div class="w-100 mb-5 flex" #parentItem>
  @if (!loading) {
  @for (item of tabList; track item;let index=$index) {
  <div class="mb-3 mb-md-0 animate-frame" [style.width.px]="item.width" [style.margin-right.px]="padding">
    <div class="animate-frame description-frame flex flex-column" [class.not-active]="activeItem !== item.name"
    [style.height.px]="fullHeight" [class.overflow-hidden]="activeItem !== item.name && activeItem !== undefined"
      (mouseenter)="itemActive(index, item.name)" (mouseleave)="itemInactive(item.name)" (click)="itemActive(index, item.name, true)">
      <div class="flex-grow-1 mb-3 {{ item.class}}"></div>
      <div class="section-sub-topic mb-1">
        {{ 'COMMISSION.' + item.name + '.TITLE' | translate}}
      </div>
      <div class="price">{{ 'COMMISSION.' + item.name + '.PRICE' | translate}}</div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'COMMISSION.' + item.name + '.CHARACTER' | translate"></span><br />
        <span [innerHTML]="'COMMISSION.' + item.name + '.BG' | translate"></span><br />
        <span [innerHTML]="'COMMISSION.' + item.name + '.DURATION' | translate"></span>
      </div>
      <a class="select-btn" [routerLink]="['/commission-form', item.name | lowercase]">
        {{ 'COMMISSION.SELECT' | translate}}
      </a>
    </div>
  </div>
  }
  }
</div>
