@import "bootstrap-mixin";
@import"picture-frame";

.mini-frame-300 {
  width: fit-content;
  max-width: 100%;
  @include media-breakpoint-up(lg) {
     width: 300px;
  }
}


.mini-frame-500 {
  width: fit-content;
  max-width: 100%;
  @include media-breakpoint-up(lg) {
     width: 500px;
  }
}
