
<div class="description-frame row mx-1 mx-md-auto">
  <div class="col-12 flex"
  [class.col-md-6]="!customerFeedback.isPortrait"
  [class.col-md-4]="customerFeedback.isPortrait">
    <img [src]="customerFeedback.picUrl" [class]="customerFeedback.picClass"/>
  </div>
  <div class="col-12 mt-3 mt-md-0"
  [class.col-md-6]="!customerFeedback.isPortrait"
  [class.col-md-8]="customerFeedback.isPortrait">
    <div class="flex">
      <app-avatar [defaultColor]="customerFeedback.avatarColor" [defaultAlphabet]="customerFeedback.avatarAlphabet" [width]="40" class="me-3 mb-auto mt-2"></app-avatar>
      <div>
        <div>
          <a class="section-sub-topic underline" [href]="customerFeedback.refLink"
            target="_blank">
            Arkean</a>
          <span class="time">
            Aug 26, 2023
          </span>
        </div>
        <div class="text-start source">
          from <a class="source-name underline" [href]="customerFeedback.refLink" target="_blank">{{ customerFeedback.source}}</a>
        </div>
      </div>
    </div>
    <div class="flex flex-col customer-bubble mt-3">
      <div class="bubble">
        <div class="speech-bubble">
          "{{ customerFeedback.feedback }}"
        </div>
      </div>
      <div class="mt-auto rin-bubble mb-4">
        <hr class="mx-4" />
        <span [innerHTML]="customerFeedback.description"></span>
      </div>
    </div>
  </div>
</div>
