@use "variables" as var;

.fixed-button {
  position: fixed;
  bottom: 0;
  z-index: var.$sticky-level;
  cursor: pointer;
  transition: .5s all ease-out;

  @media (width <= var.$md) {
    right: -10px;
  }
  &.hide {
    bottom: -100px;
  }
}

.pot {
  width: 100px;

  @media (width <= var.$md) {
    width: 60px;
  }
}

.up-btn {
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 42%;
  transition: all 0.4s ease;
}

@media (any-pointer: fine) {
  .merge-up-btn {
    animation-delay: 2s;
    &:hover {
      .up-btn {
        transform: scale(1.5);
      }
    }

    &:active {
      .up-btn {
        transform: scale(1);
      }
    }
  }
}
