:host {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.689);
    border-radius: 16px;
    font-size: medium;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    .font-style {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "CokieCrisp";
      background-image: url("/assets/images/text-bg-blue.png");
      background-clip: text;
      color: transparent;
    }

    &:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 1);
    }
    &:active {
        transform: translate3d(0.18em, 0.2em, 0.01em);
    }
}
