@import "picture-frame";
@import "bootstrap-mixin";

.close-btn {
  position: absolute;
  right: 9px;
  top: 10px;
  background: transparent;
}

.art-tag {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  .title {
    font-size: 18px;
  }
  .sub-title {
    font-size: 14px;
  }
  @include media-breakpoint-down(md) {
    transform: scale(0.9);
  }
}
