@import "bootstrap-mixin";
@import"picture-frame";


.mini-frame-200, .mini-frame-300, .mini-frame-500 {
  @include media-breakpoint-up(lg) {
    width: inherit!important;
  }
}

.close-btn {
  position: absolute;
  right: 9px;
  top: 10px;
  background: transparent;
}

.art-tag {
  display: inline-block;
  padding:10px;
  border-width: 10px;
  border-style: solid;
  border-color: #d4d7db #e2e8ec #fff #e3e9eb;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  .title {
    font-size: 18px;
    line-height: 20px;
  }
  .title-2 {
    font-size: 17px;
  }
  .sub-title {
    font-size: 14px;
  }
  .desc {
    font-size: 12px;
  }
  @include media-breakpoint-down(md) {
    transform: scale(0.9);
  }

}
