<div class="container-fluid mt-3 d-flex d-md-block container-height">
  <div class="row my-auto my-md-0">
    <div class="col-12 mb-2 mb-md-0 d-flex" [class.col-md]="!isRecTemplate()" [class.col-md-8]="isRecTemplate()">
      <div class="{{ frameStyle() }} mx-auto">
        <img src="{{ picUrl() }}" srcset="{{ noImageSrc ? '' : (picUrl() | imageSrcset)}}"
        [style.min-width]="minWidth()" [style.min-height]="minHeight()"
        class="show-real-width">
      </div>
    </div>
    <div class="col-12 d-flex" [class.col-md]="!isRecTemplate()" [class.col-md-4]="isRecTemplate()">
      <div class="art-tag d-flex flex-column my-auto p-2 align-items-center align-items-md-start mx-auto">
        <b class="title">{{ title() }}</b>
        <i class="title-2">{{ title2() }}</i>
        <div class="mb-2 sub-title text-center text-md-start">{{ subTitle()}}</div>
        <div class="text-center text-md-start desc">{{ description()}}</div>
      </div>
    </div>
  </div>
</div>
<button mat-fab aria-label="Close popup" class="close-btn" (click)="closePopup()">
  <span class="material-symbols-rounded">
    close
    </span>
</button>
