@use "character-frame" as char;
@use "variables" as var;


.limit-width {
  max-width: 1000px;
}

.limit-width-small {
  max-width: 600px;
}

.hightlight-action {
  background: var.$white;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    transparent 50%,
    rgb(17, 0, 36) 100%);
}
