@use 'variables' as var;
@use 'character-frame' as char;
@import "bootstrap-mixin";
@import"picture-frame";

.top-content-frame {
  text-decoration: none;
  color: var.$white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 1s ease;

  .material-symbols-rounded  {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
    color: var.$white;

    &:hover {
      color: var.$sky-blue;
      transform: scale(0.95);
    }
  }
}

.description-frame {
  height: 100%;
}

.row-width-1000 {
  max-width: 1000px;
}


.mini-frame-300 {
  width: fit-content;
  max-width: 100%;
  @include media-breakpoint-up(lg) {
     width: 300px;
  }
}


.mini-frame-500 {
  width: fit-content;
  max-width: 100%;
  @include media-breakpoint-up(lg) {
     width: 500px;
  }
}
