@use 'variables' as var;
@use 'character-frame' as char;
@import "bootstrap-mixin";

.description-frame {
  height: 100%;
}


.black-frame {
  display: inline-block;
  border-radius: 50%;
  padding: 40px;
  border-width: 20px;
  border-style: solid;
  border-color: #2F2D2D #434040 #4F4C4C #434040;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(transparent));
  background-image: -webkit-linear-gradient(#E5E4DF, transparent);
  background-image: -moz-linear-gradient(#E5E4DF, transparent);
  background-image: -o-linear-gradient(#E5E4DF, transparent);
  background-image: linear-gradient(#E5E4DF, transparent);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .6), 0 5px 2px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .8);
  position: relative;
  overflow: hidden;

  &.small {
    padding: 20px;
  }

  ::before {
    content: "";
    position: absolute;
    top: -175px;
    right: -20%;
    transform: rotateZ(-40deg);
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .4)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
  }

  img {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .1), 0 1px 1px 1px rgba(255, 255, 255, .7);
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;

    &.show-real-width {
      @include media-breakpoint-up(md) {
        max-width: inherit;
      }
    }
  }
}
