<div class="container-fluid container-md mt-4">
  <div class="sub-title top-content-frame d-flex">
    <a routerLink="/original" class="d-flex align-items-center ms-auto ms-md-4 me-auto">
      <span class="material-symbols-rounded">
        arrow_back_ios
      </span> Back
    </a>
  </div>
  <div>
    <app-reflection-font [text]="characterData?.title | translate"
      [fontClass]="'mx-auto sub-title'"></app-reflection-font>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-2 d-flex flex-column mb-3 mb-md-0">
      <div class="black-frame circle small ms-auto me-suto me-md-2">
        <img [src]="characterData.imageUrl">
      </div>
    </div>
    <div class="col-12 col-md-10 text-center text-md-start">
      <div class="description-frame px-5">
        <div class="section-topic mb-2 mb-md-4">
          {{ characterData?.title | translate}}
        </div>
        <div class="section-content mb-4">
          {{characterData?.description | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="section-topic section-color mb-5">
    {{'CHARACTER_INFO.MY_ART' | translate}}
  </div>
  <div class="caption mb-5 after-reflect">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
  <div class="row row-width-1000 mx-auto">
    <div class="col-12 col-md-6 mb-3">
      <div class="white-frame">
        <img src="/assets/images/original/linin/linin_look_at_ant.png"/>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="white-frame">
        <img src="/assets/images/original/linin/linin_icecream.png"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mb-3">
      <div class="white-double-frame small">
        <img src="/assets/images/original/linin/linin_dress.png"/>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 d-flex">
      <div class="black-frame m-auto">
        <img src="/assets/images/original/linin/linin_maid.png"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex mb-3">
      <div class="black-frame mx-auto mini-frame-500">
        <img src="/assets/images/original/linin/linin_look_at_art.png"/>
      </div>
    </div>
  </div>
  <div class="blank-space">&nbsp;</div>
  <div class="section-topic section-color mb-5">
    {{'CHARACTER_INFO.FAN_ART' | translate}}
  </div>
  <div class="row d-flex">
    <div class="col-12">
      <div class="white-double-frame small mini-frame-500">
        <img src="/assets/images/original/linin/linin_on_swing.png"/>
      </div>
    </div>
  </div>
  <div class="blank-space">&nbsp;</div>
</div>
