<div class="container-fluid container-md mt-3">
    <div class="sub-title text-start top-content-frame d-flex">
        <a routerLink="/original" fragment="{{characterName}}" class="d-flex align-items-center me-auto">
          <span class="material-symbols-rounded">
            arrow_back_ios
            </span> Back
        </a>
    </div>
    <div>
        <app-reflection-font [text]="characterData?.title | translate" [fontClass]="'mx-auto sub-title'"></app-reflection-font>
    </div>
</div>
