@use 'variables' as var;
@use 'character-frame' as char;
@import "bootstrap-mixin";
@import"picture-frame";

.top-content-frame {
  text-decoration: none;
  color: var.$white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 1s ease;

  .material-symbols-rounded  {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
    color: var.$white;

    &:hover {
      color: var.$sky-blue;
      transform: scale(0.95);
    }
  }
}

.description-frame {
  height: 100%;
}
