<svg width="0" height="0">
    <clipPath id="clip_daiya">
        <path d="M 150,0 300,150 150,300 0,150 z "></path>
    </clipPath>
</svg>
<div class="pfbox">
    <div class="pitem">
        <a href="{{ link }}">
            <div class="sgvitem">
                <h3>{{label}}</h3>
                <svg width="300" height="300" viewBox="0 0 300 300">
                    <image [attr.xlink:href]="img" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"
                        clip-path="url(#clip_daiya)" class="img">
                    </image>
                </svg>
                <p>{{hoverDescription}}</p>
            </div>
        </a>
    </div>
</div>