.pfbox {
    display: flex;
}

.pitem {
    animation-delay: 0s;
    animation: ani-scin 0.8s ease-out both;
    transition: all 1.5s;
}

p {
    color: #F1F2F5;
}

.sgvitem {
    transition: 0.3s ease;
    border: 1px solid rgba(229, 31, 25, 0);
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    p {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        transform: rotate(0deg);
        vertical-align: middle;
        margin: auto;
        padding-top: 48%;
        z-index: 70;
        opacity: 0;
        transition: 0.3s ease;
    }
    h3 {
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-weight: 100;
        text-align: center;
        font-size: 90%;
        margin: 0.3em 0;
        text-indent: -1em;
        position: absolute;
        bottom: 19%;
        left: 80%;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 50% 50% 0;
        z-index: 80;
        transition: 0.3s ease;
    }
}

a:hover {
    .sgvitem h3 {
        background: rgba(178, 0, 0, 0.8);
        background: rgba(51, 102, 204, 0.8);
        letter-spacing: 0.1em;
    }

    .sgvitem p {
        transform: rotate(-45deg);
        opacity: 1;
    }
    .sgvitem p {
        transform: rotate(-45deg);
        opacity: 1;
    }
}