@use "variables" as var;

$baseSec: 0.3;

@mixin eachStarStyle($spaceChar) {
  :nth-child(1) {
    left: 0;
    animation-delay: #{-$baseSec}s;
  }
  :nth-child(2) {
    left: #{$spaceChar}rem;
    animation-delay: #{$baseSec * 0}s;
  }
  :nth-child(3) {
    left: #{$spaceChar * 2}rem;
    animation-delay: #{$baseSec * 1}s;
  }
  :nth-child(4) {
    left: #{$spaceChar * 3}rem;
    animation-delay: #{$baseSec * 2}s;
  }
}

:host {
  display: block;
  width: 12rem;
  height: 4rem;
  .star-loading {
    @include eachStarStyle(3);
  }
  .star-loading > * {
    font-size: 3rem;
    line-height: 4rem;
  }

  &.mini {
    width: 8rem;
    height: 3rem;
    .star-loading {
      @include eachStarStyle(2);
    }
    .star-loading > * {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  &.big {
    width: 16rem;
    height: 5rem;
    .star-loading {
      @include eachStarStyle(4);
    }
    .star-loading > * {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

@keyframes changeStar {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(0.1) rotate(-180deg);
  }
}

@keyframes stillStar {
  from {
    transform: scale(0.1) rotate(180deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}



.star-loading > * {
  font-family: "CokieCrisp";
  font-weight: bolder;
  background-image: url("/assets/images/bg-text-pink.png");
  background-color: var.$white;
  background-position: left top, left bottom;
  background-repeat: repeat;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;

  animation: changeStar #{$baseSec}s forwards #{$baseSec * 4}s, stillStar #{$baseSec * 4}s forwards #{$baseSec * 4}s;
  animation-iteration-count: infinite;
  position: absolute;

}
.star-loading.dark > * {
  background-image: url("/assets/images/text-bg-blue.png");
  background-color: var.$blue-bg;
}

.star-loading {
  position: relative;
}

