@use "variables" as var;

:host {
  display: block;
  width: 12rem;
  height: 3rem;
}

@keyframes changeStar {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(0.1) rotate(-180deg);
  }
}

@keyframes stillStar {
  from {
    transform: scale(0.1) rotate(180deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

$baseSec: 0.3;

.star-loading > * {
  font-family: "CokieCrisp";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 4rem;
  background-image: url("/assets/images/bg-text-pink.png");
  background-color: var.$white;
  background-position: left top, left bottom;
  background-repeat: repeat;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;

  animation: changeStar #{$baseSec}s forwards #{$baseSec * 4}s, stillStar #{$baseSec * 4}s forwards #{$baseSec * 4}s;
  animation-iteration-count: infinite;
  position: absolute;

}
.star-loading.dark > * {
  background-image: url("/assets/images/text-bg-blue.png");
  background-color: var.$blue-bg;
}

.star-loading {
  position: relative;
  min-width: 8rem;
  :nth-child(1) {
    animation-delay: #{-$baseSec}s;
  }
  :nth-child(2) {
    left: 3rem;
    animation-delay: #{$baseSec * 0}s;
  }
  :nth-child(3) {
    left: 6rem;
    animation-delay: #{$baseSec * 1}s;
  }
  :nth-child(4) {
    left: 9rem;
    animation-delay: #{$baseSec * 2}s;
  }
}
