@use "variables" as var;
@use "character-frame" as char;
@import "bootstrap-mixin";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - #{var.$header-height});
  width: 100%;
}

.nowhere-pic {
  margin-top: -40px;
}

app-reflection-font {
  transform: rotate(-45deg) matrix(1.2, 0.2, -1, 0.9, 0, 20) translateX(-70px);
}


.title {
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
}

.sub-title {
  font-size: 36px;
  font-weight: 600;
}

.content {
  font-size: 24px;
}

.description-frame {

  @include media-breakpoint-up(md) {
    height: 90%;
  }
}
