<div class="link-card d-flex">
  <a class="position-relative mx-auto" [href]="link">
    <div class="title">
      {{ title}}
    </div>
    <div class="title-bottom">
      {{ miniTitle|| title}}
    </div>
    <div class="title-bottom-div">&nbsp;</div>
    <ng-container *ngTemplateOutlet="imageCard">
    </ng-container>
  </a>
</div>
<div class="link-reflection">
  <ng-container *ngTemplateOutlet="imageCard;context: {class: 'reflection'}">
  </ng-container>
</div>
<ng-template #imageCard let-class="class">
  <img src="{{imageUrl}}" alt="{{ title }}" title="{{title}}" class="image-card {{class}}"/>
</ng-template>
