<div class="link-card flex px-3 pb-2" [style.min-height]="minHeight">
  <a class="relative mx-auto block" [href]="link">
    <div class="title">
      {{ title}}
    </div>
    <div class="title-bottom">
      {{ miniTitle|| title}}
    </div>
    <div class="title-bottom-div">&nbsp;</div>
    <ng-container *ngTemplateOutlet="imageCard">
    </ng-container>
  </a>
</div>
<div class="link-reflection">
  <ng-container *ngTemplateOutlet="imageCard;context: {class: 'reflection mx-auto pt-2'}">
  </ng-container>
</div>
<ng-template #imageCard let-class="class">
  <img src="{{imageUrl}}" alt="{{ title }}" title="{{title}}" class="image-card {{class}}"/>
</ng-template>
