@use 'variables' as var;

.description-frame {
  padding: 16px;
  font-size:16px;
  background: #ffffff80;
  border-radius: 16px;
  color: var.$dark-sky;
  box-shadow:0 2px 5px rgba(148, 163, 255, 0.6), 0 5px 2px rgb(47 42 73 / 10%), 0 10px 20px rgba(0, 0, 0, 0.8);
}
