@use 'variables' as var;

.character-frame {
border-radius: 16px;
max-width: 400px;
}

.description-frame {
  max-width: 500px;
  height: 100%;
  padding: 16px;
  background: #ffffff51;
  border-radius: 16px;
  color: var.$dark-sky;
}
