@use "variables" as var;

.face-example {
  background-image: url('/assets/images/commission/face_commission_example.webp');
  background-position: 58% 41%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.half-example {
  background-image: url('/assets/images/commission/half_commission_example.webp');
  background-position: 61% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.full-example {
  background-image: url('/assets/images/commission/full_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.detail-example {
  background-image: url('/assets/images/commission/detail_bg_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.price {
  font-family: "Sarabun";
  border: 1px solid;
  border-radius: 16px;
  padding: 0px 6px;
  font-size: 20px;
  margin-bottom: 6px;
}


.select-btn {
  display: block;
  text-decoration: none;
  background-color: var.$image-card-shadow;
  color: var.$white;
  font-weight: 700;
  margin: auto -16px -24px -16px;
  border-bottom-left-radius: 16px;
  padding-top: 10px;;
  padding-bottom: 10px;;
  border-bottom-right-radius: 16px;
  transition: all .2s ease-out;

  &:hover {
    letter-spacing: .1em;
    background-color: var.$dark-sky;
  }
}
