
.circle {
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
}


.white-double-frame {
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    padding:8vmin;
    position:relative;
    text-align:center;

    &.small {
        padding:4vmin;
    }

    &:before {
        border-radius:2px;
        bottom:-2vmin;
        box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
        content:"";
        left:-2vmin;
        position:absolute;
        right:-2vmin;
        top:-2vmin;
    }
    &:after {
        border-radius:2px;
        bottom:-2.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
        content:"";
        left:-2.5vmin;
        position:absolute;
        right:-2.5vmin;
        top:-2.5vmin;
    }
    img {
        border:solid 2px;
        border-bottom-color:#ffe;
        border-left-color:#eed;
        border-right-color:#eed;
        border-top-color:#ccb;
        max-height:100%;
        max-width:100%;
        object-fit: fill;
    }
}


.black-frame {
	display: inline-block;
	padding: 40px;
	border-width: 20px;
	border-style: solid;
	border-color: #2F2D2D #434040 #4F4C4C #434040;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
	background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: linear-gradient(#E5E4DF, #CDCDC6);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.6),0 5px 2px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.8);
	position: relative;
	overflow: hidden;
    &.small {
        padding: 20px;
      }

    ::before {
        content: "";
        position: absolute;
        top: -175px;
        right: -20%;
        // width: 400px;
        // height: 400px;
        transform: rotateZ(-40deg);
        -webkit-transform: rotateZ(-40deg);
        -moz-transform: rotateZ(-40deg);
        -o-transform: rotateZ(-40deg);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
        background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
    }
    img {
        border-width: 2px;
        border-style: solid;
        border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
        box-shadow:  0 -1px 1px rgba(0,0,0,.1), 0 1px 1px 1px rgba(255,255,255,.7);
        max-height:100%;
        max-width:100%;
        object-fit: fill;
    }
}

.white-frame {
	display: inline-block;
	padding: 40px;
	border-width: 20px;
	border-style: solid;
	border-color: #dbd4d4 #e4e3e3 #ffffff #ebe9e9;
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
	background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: linear-gradient(#E5E4DF, #CDCDC6);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.6),0 5px 2px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.8);
	position: relative;
	overflow: hidden;
    &.small {
      padding: 20px;
    }
    ::before {
        content: "";
        position: absolute;
        top: -175px;
        right: -20%;
        // width: 400px;
        // height: 400px;
        transform: rotateZ(-40deg);
        -webkit-transform: rotateZ(-40deg);
        -moz-transform: rotateZ(-40deg);
        -o-transform: rotateZ(-40deg);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
        background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
        background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
    }
    img {
        border-width: 2px;
        border-style: solid;
        border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
        box-shadow:  0 -1px 1px rgba(0,0,0,.1), 0 1px 1px 1px rgba(255,255,255,.7);
        max-height:100%;
        max-width:100%;
        object-fit: fill;
    }
}
