.original-slide-in {
    visibility: hidden;
}


.slide-in {
    visibility: visible;
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
