.original-slide-in {
    transform: translateY(40%);
}


.slide-in {
    transform: translateY(40%);
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}