@use "character-frame" as char;
@use "variables" as var;
@import "bootstrap-mixin";
// tab style
.tab-list {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  white-space: pre;

  @include media-breakpoint-up(md) {
    justify-content: center;
  }
}

$inactive-tab: #11002494;
.tab-item {
  margin-right: 10px;
  border-radius: 16px 16px 0 0;
  color: var.$white;
  padding: 8px 20px;
  font-size: 1.1rem;
  background-color: $inactive-tab;
  cursor: pointer;

  &.active {
    background-color: var.$dark-tab;
    font-weight: 700;
  }
}

.tab-body {
  background: linear-gradient(0deg, rgba(17, 0, 36, 0.41) 0%, #{var.$dark-tab} 100%);
}
