.after-reflect {
    margin-top: -20px
}

.section-topic {
    color: white;
    font-weight: 700;
    font-size: 26px;
}

.section-content {
    color: white;
}

.caption {
    color: #15063f;
    font-size: 16px;
  }

.blank-space {
    height: 150px;
}
