@use 'variables' as var;

.top-content-frame {
  text-decoration: none;
  color: var.$white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 1s ease;
  padding-left: 40px;

  .material-symbols-rounded  {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: var.$white;

    &:hover {
      color: var.$sky-blue;
    }
  }
}

.after-reflect {
  margin-top: -20px
}

.section-topic {
  font-family: "CokieCrisp";
  font-weight: 700;
  font-size: 26px;
}

.section-color {
  color: white;
}

.caption {
  color: var.$dark-sky;
  font-size: 16px;
}

.blank-space {
  height: 150px;
}

.width-fit-content {
  width: fit-content;
}


