@use 'variables' as var;


.top-content-frame {
  text-decoration: none;
  color: var.$white;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 1s ease;
  padding-left: 40px;

  @include media-breakpoint-down(md) {
    padding-left: 0px;
  }

  .material-symbols-rounded  {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: var.$white;

    &:hover {
      color: var.$sky-blue;
    }
  }
}

.after-reflect {
  margin-top: -20px
}

.dark-section {
  background: linear-gradient(0deg, rgba(17,0,36,1) 0%, transparent 25%, rgba(17,0,36,1) 100%);
}

.dark-white-section {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, transparent 25%, rgba(17,0,36,1) 100%);
}

.section-topic {
  font-family: "CokieCrisp";
  font-weight: 700;
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}

.section-sub-topic {
  font-family: "CokieCrisp";
  font-weight: 700;
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

.section-color {
  color: white;
}

.caption {
  color: var.$dark-sky;
  font-size: 16px;
}

.blank-space {
  height: 150px;
}

.width-fit-content {
  width: fit-content;
}

.mat-mdc-text-field-wrapper {
  background-color: var.$white;
  border-radius: var.$input-border-radius!important;
}

.cursor {
  cursor: pointer;
}

// REMOVE EMPTY VALIDATION AREA
.mat-form-field-no-validation {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}


.tarot-card {
  border-radius: 1.2rem;
  background: transparent;
  border: 1px solid #{var.$black};
  @include media-breakpoint-up(lg) {
    border-radius: 1.3rem;
  }
}
