$over-header-level: 997;
$linin-label-level: 996;
$top-header-level: 995;
$header-height: 68px;

$black: black;
$dark-sky: #15063f;
$dark-blue: #265683;
$darker-blue: #0d2f4f;
$white: white;
$sky-blue: skyblue;
$light-violet: #cb2676;
$violet:#5c1035;
$blue: #3826cb;

$bg-menu: rgba(255, 255, 255, 0.892);
