$loading-level: 1000;
$over-header-level: 997;
$linin-label-level: 996;
$top-header-level: 995;
$header-height: 68px;

$loading-screen: rgba(0, 0, 0, 0.32);
$black: black;
$dark-sky: #15063f;
$dark-blue: #265683;
$darker-blue: #0d2f4f;
$white: white;
$sky-blue: skyblue;
$light-violet: #cb2676;
$violet:#5c1035;
$blue: #3826cb;

$bg-menu: rgba(255, 255, 255, 0.892);

$about-me-width: 800px;
$footer-color: #00000078;
$image-card-font: #544228;
$image-card-shadow: #0c2e4f;
$input-border-radius: 16px;
$select-border-radius: 16px;
$pink-bg: #ffa6b2;
$blue-bg: #265683;
$goldStrap: #614622;
$yellowStrap: #c0bb55;
$menu-yellow-strip: #f3ef98;