@use "variables" as var;
@use 'character-frame' as char;
@use "tab-style" as tab;

.description-frame {
  font-size: 18px;
}

.description-frame .sub-bubble {
  @media (width >= var.$md) {
    font-size: 20px;
  }
}

.target-tarot {
  max-width: 300px;
  display: block;
}

.sub-tarot {
  max-width: 160px;
  display: block;
  font-weight: 500;
  color: var.$white;

  &:hover {
    color: var.$dark-sky;
  }
}

.card-description {
  max-width: 650px;
}

.tarot-keyword {
  font-size: 1.1rem;

  &:before,
  &:after {
    content: '"';
    font-size: 2.2rem;
  }

  @media (width >= var.$md) {
    font-size: 1.4rem;
    &:before,
    &:after {
      font-size: 3rem;
    }
  }
}

.reverse {
  transform: rotate(180deg);
}
.previous-arrow {
  position: absolute;
  left: 0;
  width: inherit;
  height: 50%;
}
.next-arrow {
  position: absolute;
  right: 0;
  width: inherit;
  height: 50%;
}
