@use 'variables' as var;
@use 'character-frame' as char;

.transparent-button {
    border-radius: 26px;
    border: 2px solid var.$white;
    color: var.$white;
    padding: 8px 16px;
    font-weight: 500;
    background: linear-gradient(180deg, #bda7ff8a, #ffffff31);

    &.dark {
        background: linear-gradient(180deg, #000000b8, #5084ffb3);
    }
}

.description-frame {
    max-width: 1000px;
    width: 100%;
    border: 2px solid var.$white;
    background: linear-gradient(180deg, #bda7ffc9, #ffffff8f);
    padding-top: 34px;
    padding-bottom: 40px;

    &.long {
        background: linear-gradient(180deg, #bda7ff8a, #dcf7ff8f 50%, #ffffff70);
    }

    &.dark {
        background: linear-gradient(180deg, #000000b8, #5084ffb3);
        color: var.$white;
    }
}

.top-section {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

.between-section {
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    .section-header {
        padding-top: 40px;
    }
}


.bottom-section {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    .section-header {
        padding-top: 40px;
    }
}
.rule-content {
    padding-left: 16px;
    padding-right: 16px;

   @media (width >= var.$lg) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.section-content {
    font-size: 1.1rem;
    line-height: 2.1rem;

    @media (width >= var.$lg) {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }
    ::marker {
        font-size: 0.6rem;
    }
}

.section-header {
    padding: 24px 16px 4px 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: var.$white;
    margin-bottom: 16px;
}
