@use 'variables' as var;
@use 'character-frame' as char;
@import "bootstrap-mixin";

.description-frame {
    max-width: 1000px;
    background: linear-gradient(180deg, #bda7ff8a, #dcf7ff8f 50%, #ffffff70);
    border: 2px solid var.$white;
}
.rule-content {
    padding-left: 16px;
    padding-right: 16px;

    @include media-breakpoint-up(lg) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.section-content {
    font-size: 1.1rem;
    line-height: 2.1rem;

    @include media-breakpoint-up(lg) {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }
    ::marker {
        font-size: 0.6rem;
    }
}

.section-header {
    padding: 16px 16px 4px 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: var.$white;
    margin-bottom: 16px;
}
