<div class="container-fluid container-lg mt-4">
    <div class="sub-title top-content-frame d-flex">
      <a [routerLink]="'/commission'" fragment="lininStory" class="d-flex align-items-center ms-auto ms-md-4 me-auto">
        <span class="material-symbols-rounded">
          arrow_back_ios
        </span> Back
      </a>
    </div>
    <div>
      <app-reflection-font [text]="'TOS.TITLE' | translate"
        [fontClass]="'mx-auto sub-title'"></app-reflection-font>
    </div>
    <div class="description-frame d-flex flex-column px-0 pt-0">
        <div class="section-header">
            <div class="rule-content mx-auto text-start">
                <div class="section-sub-topic">
                    {{'TOS.GENERAL_RULE.TITLE' | translate}}
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of generalRule;track index;let index=$index) {
                        <li [innerHTML]="'TOS.GENERAL_RULE.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="p-4">&nbsp;</div>
    <div class="description-frame d-flex flex-column px-0 pt-0">
        <div class="section-header">
            <div class="rule-content mx-auto text-start">
                <div class="section-sub-topic">
                    {{'TOS.COMMERCIAL_RIGHT.TITLE' | translate}}
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of commercial;track index;let index=$index) {
                        <li [innerHTML]="'TOS.COMMERCIAL_RIGHT.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="blank-space">&nbsp;</div>