<div class="container-fluid container-lg mt-4 flex flex-column">
    <div class="sub-title top-content-frame flex">
      <a [routerLink]="'/commission'" class="flex items-center ms-auto ms-md-4 me-auto">
        <span class="material-symbols-rounded">
          arrow_back_ios
        </span> Back
      </a>
    </div>
    <div>
      <app-reflection-font [text]="'TOS.TITLE' | translate"
        [fontClass]="'mx-auto sub-title'"></app-reflection-font>
    </div>
    <div class="pb-4">
        <button type="button" class="transparent-button" (click)="clickRight()">
            {{ 'TOS.COPY_RIGHT.TITLE' | translate}}
        </button>&nbsp;
        <button type="button" class="transparent-button dark" (click)="clickRefund()">
            {{ 'TOS.REFUND_POLICY.TITLE' | translate}}
        </button>
    </div>
    <div class="description-frame top-section flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.GENERAL_RULE.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of generalRule;track index;let index=$index) {
                        <li [innerHTML]="'TOS.GENERAL_RULE.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="description-frame between-section dark flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.PAYMENT.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of payment;track index;let index=$index) {
                        <li [innerHTML]="'TOS.PAYMENT.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="description-frame between-section flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.PROCESS.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of process;track index;let index=$index) {
                        <li [innerHTML]="'TOS.PROCESS.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="description-frame bottom-section dark flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.REVISION.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of revision;track index;let index=$index) {
                        <li [innerHTML]="'TOS.REVISION.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="p-4">&nbsp;</div>
    <div id="right" class="description-frame top-section long flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.COPY_RIGHT.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <p>{{ 'TOS.COPY_RIGHT.SUB_TITLE' | translate}}</p>
                <ul>
                    <li>
                        <b>{{ 'TOS.COPY_RIGHT.ITEM_1.TOPIC' | translate}}</b>
                    </li>
                    <ul>
                        @for(rule of copyRight1;track index;let index=$index) {
                            <li [innerHTML]="'TOS.COPY_RIGHT.ITEM_1.ITEM_' + (index + 1) | translate"></li>
                        }
                    </ul>
                    <li>
                        <b>{{ 'TOS.COPY_RIGHT.ITEM_2.TOPIC' | translate}}</b>
                    </li>
                    <ul>
                        @for(rule of copyRight2;track index;let index=$index) {
                            <li [innerHTML]="'TOS.COPY_RIGHT.ITEM_2.ITEM_' + (index + 1) | translate"></li>
                        }
                    </ul>
                    <li>
                        <b>{{ 'TOS.COPY_RIGHT.ITEM_3.TOPIC' | translate}}</b>
                    </li>
                    <ul>
                        @for(rule of copyRight3;track index;let index=$index) {
                            <li [innerHTML]="'TOS.COPY_RIGHT.ITEM_3.ITEM_' + (index + 1) | translate"></li>
                        }
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="description-frame bottom-section dark flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.COMMERCIAL_RIGHT.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of commercial;track index;let index=$index) {
                        <li [innerHTML]="'TOS.COMMERCIAL_RIGHT.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="p-4">&nbsp;</div>
    <div id="refund" class="description-frame flex flex-column px-0 pt-0 mx-auto">
        <div class="section-header">
            <div class="rule-content mx-auto text-center">
                <div class="section-sub-topic">
                  ❉&nbsp;{{'TOS.REFUND_POLICY.TITLE' | translate}}&nbsp;❉
                </div>
            </div>
        </div>
        <div class="rule-content mx-auto text-start">
            <div class="section-content mb-3 mx-auto">
                <ul>
                    @for(rule of refund;track index;let index=$index) {
                        <li [innerHTML]="'TOS.REFUND_POLICY.ITEM_' + (index + 1) | translate"></li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="blank-space">&nbsp;</div>
