@import "bootstrap-mixin";

.units {
    width: max-content;
    user-select: none;
    pointer-events: none;
    padding: 0 10px;
  }
  /* original design */
  .units > * {
    font: bolder 4rem/4rem "EB Garamond";
    background-image: url("/assets/images/text-bg2.jpg?v=1");
    background-clip: text;
    color: transparent;
    overflow: hidden;
    background-color: white;

    @include media-breakpoint-up(lg) {
      font: bolder 5rem/5rem "EB Garamond";
    }
  }
  /* reflections */
  .units > :last-child {
    transform: rotatex(180deg) translatey(2px);
    mask-image: linear-gradient(transparent 50%, white 90%);
  }
