@use "variables" as var;

.units {
  width: max-content;
  user-select: none;
  pointer-events: none;
  padding: 0 10px;
}

/* original design */
.units>* {
  font-family: "CokieCrisp";
  font-weight: bolder;
  font-size: 2rem;
  line-height: 3rem;
  background-image: url("/assets/images/bg-text-pink.png");
  background-position: left top, left bottom;
  background-repeat: repeat;
  background-attachment: fixed;
  background-clip: text;
  color: transparent;
  overflow: hidden;
  background-color: var.$white;

  @media (width >= var.$md) {
    font-size: 4rem;
    line-height: 5rem;
  }

  @media (width >= var.$lg) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

.units.sub-title>* {
  font-size: 2rem;
  line-height: 3rem;

  @media (width >= var.$md) {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* reflections */
.units> :last-child {
  transform: rotatex(180deg) translatey(2px);
  mask-image: linear-gradient(transparent 50%, white 90%);
}
