<div class="container-fluid container-lg mt-5">
    <div class="sub-title top-content-frame d-flex">
        <a [routerLink]="'/playground'" class="d-flex align-items-center ms-auto ms-md-4 me-auto">
          <span class="material-symbols-rounded">
            arrow_back_ios
          </span> Back
        </a>
      </div>
    <div>
        <app-reflection-font [text]="'PLAYGROUND.ARTFIGHT' | translate" [fontClass]="'mx-auto sub-title'"></app-reflection-font>
    </div>
    <div class="section-content section-color mb-4">
        {{'ART_FIGHT_2024.DESCRIPTION' | translate}}
    </div>
    <app-gallery-room [galleryRoom]="galleryRoomConfig.room1"[enableSlidIn]="false" ></app-gallery-room>
    <div class="blank-space">&nbsp;</div>
    <div class="section-topic section-color mb-2">
      {{'ART_FIGHT_2024.VIDEO1' | translate}}
    </div>
    <div class="section-content section-color mb-4">
        {{'ART_FIGHT_2024.VIDEO1_DESC' | translate}}
    </div>
    <div class="iframe-container mx-auto">
        <iframe src="https://www.youtube.com/embed/0-cm0VqAT28?si=dgGn85XR8Cwiwi6B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="blank-space">&nbsp;</div>
    <app-gallery-room [galleryRoom]="galleryRoomConfig.room2" [enableAutoScrollFirstRow]="false"
        [pattern]="'wide'"></app-gallery-room>
    <div class="blank-space">&nbsp;</div>
    <app-gallery-room [galleryRoom]="galleryRoomConfig.room3" [enableAutoScrollFirstRow]="true"></app-gallery-room>
    <div class="blank-space">&nbsp;</div>
    <app-playground-bottom-menu [currentLabel]="'PLAYGROUND.ARTFIGHT'"></app-playground-bottom-menu>
    <div class="mb-3">&nbsp;</div>
</div>
