iframe {
    border-radius: 20px;
}

$minWidthIframe: 650px;

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: $minWidthIframe;
    max-height: 365.6px;
    padding-top: 56.25%;

    @media only screen and (min-width:$minWidthIframe) {
        padding-top: 365.6px;
    }

    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    /* Then style the iframe to fit in the container div with full height and width */
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: $minWidthIframe;
        max-height: 365.6px;
        width: 100%;
        height: 100%;
    }
}