<div class="container-fluid lg:container mx-auto mt-5">
  <div class="sub-title top-content-frame flex">
      <a [routerLink]="'/playground'" class="flex items-center ms-auto ms-md-4 me-auto">
        <span class="material-symbols-rounded">
          arrow_back_ios
        </span> Back
      </a>
    </div>
  <div>
      <app-reflection-font [text]="'PLAYGROUND.VOCALOID' | translate" [fontClass]="'mx-auto sub-title'"></app-reflection-font>
  </div>
  <div class="section-content section-color mb-4">
      {{'VOCALOID.DESCRIPTION' | translate}}
  </div>
  <app-gallery-room [galleryRoom]="vocaloid" [pattern]="'equal'"></app-gallery-room>
  <div class="blank-space">&nbsp;</div>
  <app-playground-bottom-menu [currentLabel]="'PLAYGROUND.VOCALOID'"></app-playground-bottom-menu>
  <div class="mb-3">&nbsp;</div>
</div>
