<div class="sub-title top-content-frame flex mx-auto mt-3">
  <a routerLink="{{ backUrl}}" class="flex items-center ms-auto ms-md-4 me-auto">
    <span class="material-symbols-rounded">
      arrow_back_ios
    </span> Back
  </a>
</div>
@if (activeTab) {
  @if (loading) {
    <div class="flex justify-center items-center loading-div">
      <app-mini-spinning class=""></app-mini-spinning>
    </div>
  }
  <iframe [src]="formLink | safe:'resourceUrl'" width="100%" [height]="iframeHeight" frameborder="0" marginheight="0"
    marginwidth="0" (load)="iframeLoaded()">loading...</iframe>
} @else {
  <div class="pt-3">
    <app-reflection-font [text]="'COMMISSION.CHOOSE' | translate" [fontClass]="'sub-title mx-auto'"></app-reflection-font>
  </div>
  <app-frame-item-mobile [activeTab]="activeTab"></app-frame-item-mobile>
  <div class="container-fluid container-lg mt-4 mt-md-0 hidden d-mblock">
    <app-frame-item-animation>
    </app-frame-item-animation>
  </div>
}
