<div class="section-topic section-color mb-5">
  {{'CHARACTER_INFO.MY_ART' | translate}}
</div>
<div class="caption mb-5 after-reflect">
  {{'GLOBAL.WARNING' | translate}}<br />
  {{'GLOBAL.DONT_LIST' | translate}}<br />
  {{'GLOBAL.DONT_LIST_SUB' | translate}}
</div>
<app-gallery-room [galleryRoom]="mimiMyart"></app-gallery-room>
<div class="blank-space">&nbsp;</div>
<div class="section-topic section-color">
  {{'CHARACTER_INFO.FAN_ART' | translate}}
</div>
<div class="d-flex mb-3">
  <img class="mx-auto pic-hover minus-top" src="/assets/images/original/mimi/mimi_peachiepeeps.gif"  (click)="openMimiPeechiepeeps()"/>
</div>
<app-gallery-room [galleryRoom]="mimiFanart"></app-gallery-room>
