<div class="section-topic section-color mb-5">
  {{'CHARACTER_INFO.MY_ART' | translate}}
</div>
<div class="caption mb-5 after-reflect">
  {{'GLOBAL.WARNING' | translate}}<br />
  {{'GLOBAL.DONT_LIST' | translate}}<br />
  {{'GLOBAL.DONT_LIST_SUB' | translate}}
</div>
<div class="row d-flex">
  <div class="col-12">
    <div class="black-frame small mini-frame-500 hover" (click)="openMimiColorPic()">
      <img src="/assets/images/original/mimi/mimi_ori_rin_linin.png" srcset="{{ '/assets/images/original/mimi/mimi_ori_rin_linin.png' | imageSrcset}}"/>
    </div>
  </div>
</div>
<div class="blank-space">&nbsp;</div>
<div class="section-topic section-color">
  {{'CHARACTER_INFO.FAN_ART' | translate}}
</div>
<div class="d-flex mb-3">
  <img class="mx-auto hover minus-top" src="/assets/images/original/mimi/mimi_peachiepeeps.gif"  (click)="openMimiPeechiepeeps()"/>
</div>
<div class="row">
  <div class="col-12 col-md-5 d-flex flex-column">
    <div class="black-frame small ms-auto me-auto me-md-0 mini-frame-300 hover mb-3" (click)="openMimiEcobotanist()">
      <img src="/assets/images/original/mimi/mimi_ecobotanist.png" srcset="{{ '/assets/images/original/mimi/mimi_ecobotanist.png' | imageSrcset}}"/>
    </div>
    <div class="black-frame small ms-auto me-auto me-md-0 mini-frame-300 hover mb-3 my-md-auto" (click)="openMimiKayleona()">
        <img src="/assets/images/original/mimi/mimi_kayleona.gif" />
    </div>
  </div>
  <div class="col-12 col-md-7">
    <div class="black-frame small hover mb-3" (click)="openMimiStreetcatzzz()">
      <img src="/assets/images/original/mimi/mimi_streetcatzzz.png" srcset="{{ '/assets/images/original/mimi/mimi_streetcatzzz.png' | imageSrcset}}"/>
    </div>
  </div>
</div>
