@use "variables" as var;


.header {
  height: var.$header-height;
}

.content {
  height: calc(100vh - #{var.$header-height});
  overflow-y: auto;
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;


  @media (width <= var.$md) {
    overflow-x: hidden;
  }
}

.footer {
  background-color: var.$footer-color;
  color: var.$white;
}
