@import "bootstrap-mixin";

.content {
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;


    @include media-breakpoint-down(md) {
      overflow-x: hidden;
    }
}
