@use "variables" as var;
@import "bootstrap-mixin";


.header {
  height: var.$header-height;
}

.content {
  height: calc(100vh - #{var.$header-height});
  overflow-y: auto;
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;


  @include media-breakpoint-down(md) {
    overflow-x: hidden;
  }
}

.footer {
  background-color: #00000078;
  color: var.$white;
}
