<div class="cover">
</div>
<!-- <div class="border-wall-paper"></div> -->
<div class="container-fluid container-md mt-5">
  <div>
    <app-reflection-font [text]="'Original'" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="caption mb-5 after-reflect">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
  <div>
    <app-character-icon></app-character-icon>
  </div>
  <div class="section-topic mb-2">
    {{'ORIGINAL.RIN_LININ.TITLE' | translate}}
  </div>
  <div class="section-content mb-4">
    {{'ORIGINAL.RIN_LININ.DESCRIPTION' | translate}}
  </div>
  <div class="blank-space">&nbsp;</div>
</div>
