@use "variables" as var;


.cover {
    background-image: url('/assets/images/original/original_cover.webp?v=2');
    background-position: 95% 43%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;

    @media (width >= var.$lg) {
        min-height: 226px;
     }
}

.my-persona {
  margin-top: -40px;
}
