<div class="cover">
</div>
<div class="container-fluid container-md mt-5">
  <div>
    <app-reflection-font [text]="'Original Characters'" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="caption mb-5 after-reflect">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
  <div class="section-topic section-color mb-2" id="lininStory">
    {{'ORIGINAL.LININ_STORY' | translate}}
  </div>
  <div class="section-content section-color mt-1 mb-5">
    {{'ORIGINAL.DESCRIPTION' | translate}}
  </div>
  <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
    <app-character-icon link="/character-info/linin" img="/assets/images/original/rin_linin_ori.webp?v=1"
      hoverDescription="Protagonist" label="Linin"></app-character-icon>
    <app-character-icon link="/character-info/collector"
      img="/assets/images/original/the_collector_ori_rin_linin.webp" hoverDescription="Main cast"
      label="The collector"></app-character-icon>
    <app-character-icon link="/character-info/witch" img="/assets/images/original/the_witch_ori_rin_linin.webp"
      hoverDescription="Main cast" label="The witch"></app-character-icon>
  </div>
  <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
    <app-character-icon link="/character-info/francois" img="/assets/images/original/francois_ori_rin_linin.webp"
      hoverDescription="Dolka cast" label="Francois"></app-character-icon>
    <app-character-icon link="/character-info/elysia" img="/assets/images/original/elysia_ori_rin_linin.webp"
      hoverDescription="Dolka cast" label="Elysia"></app-character-icon>
  </div>
  <div class="d-flex align-items-center justify-content-center flex-column flex-md-row mb-2">
    <app-character-icon link="/character-info/mimi" img="/assets/images/original/mimi_ori_rin_linin.gif?v=1"
      hoverDescription="Dolka cast" label="Mimi"></app-character-icon>
  </div>
  <div class="blank-space">&nbsp;</div>
  @for (item of characterInfo;track item.name; let index=$index) {
      <span id="{{item.name}}"></span>
      <app-character-frame [imageUrl]="item.imageUrl" [characterName]="item.name"
      [title]="item.title" [description]="item.description" [arrangement]="item.arrangement || ((index % 2) ? 'left': 'right')"></app-character-frame>
      <div class="blank-space">&nbsp;</div>
  }
  <div class="mt-2">
    <div class="mx-auto width-fit-content">
      <app-reflection-font [text]="'✧✧✧✧✧✧✧✧✧✧✧✧✧✧✧✧'" [fontClass]="'sub-title'"></app-reflection-font>
    </div>
  </div>
  <span id="{{personaInfo.name}}"></span>
  <app-character-frame [imageUrl]="personaInfo.imageUrl" [characterName]="personaInfo.name"
  [title]="personaInfo.title" [description]="personaInfo.description" [arrangement]="'right'"></app-character-frame>
  <div class="blank-space">&nbsp;</div>
</div>

