@import "bootstrap-mixin";


.cover {
    background-image: url('/assets/images/original/original-cover.webp?v=2');
    background-position: 95% 9%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}

.my-persona {
  margin-top: -40px;
}
