@use "character-frame" as char;
@import "bootstrap-mixin";


.cover {
    // object-fit: none;
    background: url('/assets/images/original/original-cover.jpg') no-repeat 95% 9%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}

.content-frame {
  max-width: 1200px;
}

.bg-sub-title {
  border-radius: 8px;
  background: linear-gradient(#ffffff, #e89eae99, transparent);
  width: fit-content;

  * {
    display: inline-block;
  }
}