@use '@angular/material' as mat;
@use 'variables' as var;

.mini-form {
  @include mat.form-field-density(-3);
  @include mat.button-density(-3);
  @include mat.icon-density(-3);
  @include mat.icon-button-density(-3);
}

.select {
    width: 100%;
    @media (width >= var.$md) {
      width: inherit;
    }
  }

  .big-search {
    width: 100%;
    @media (width >= var.$md) {
      width: inherit;
      min-width: 300px;
    }
  }

  .big-button {
    --mat-button-filled-container-height: 58px;
  }

  .mini-button {
    --mat-button-filled-container-height: 44px;
  }
