@import "bootstrap-mixin";

.select {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: inherit;
    }
  }
  
  .big-search {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: inherit;
      min-width: 300px;
    }
  }
  
  .big-button {
    --mdc-filled-button-container-height: 58px;
  }
  