:host {
    position: relative;
}
.original-roll-in {
    visibility: hidden;
    position: absolute;
}

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(400%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.roll-in {
    visibility: visible;
    animation: rollIn 0.23s ease both;
}
