<div class="section-topic section-color mb-5">
  {{'CHARACTER_INFO.MY_ART' | translate}}
</div>
<div class="caption mb-5 after-reflect">
  {{'GLOBAL.WARNING' | translate}}<br />
  {{'GLOBAL.DONT_LIST' | translate}}<br />
  {{'GLOBAL.DONT_LIST_SUB' | translate}}
</div>
<app-gallery-room [galleryRoom]="rinLininRoom" [enableAutoScrollFirstRow]="false" ></app-gallery-room>
<div class="blank-space">&nbsp;</div>
<div class="row row-width-1000 mx-auto">
  <div class="col-12 col-md-6 mb-3">
    <div class="white-frame mx-3">
      <img src="/assets/images/original/rin-linin/rin_linin_design_front.jpg?v=1" srcset="{{'/assets/images/original/rin-linin/rin_linin_design_front.jpg' | imageSrcset}}"/>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-3 d-flex">
    <div class="white-frame my-auto">
      <img src="/assets/images/original/rin-linin/rin_linin_design_back.jpg?v=1" srcset="{{ '/assets/images/original/rin-linin/rin_linin_design_back.jpg' | imageSrcset}}"/>
    </div>
  </div>
</div>
<div class="blank-space">&nbsp;</div>
<div class="section-topic section-color mb-4">
  {{'CHARACTER_INFO.FAN_ART' | translate}}
</div>
<div class="row mx-auto">
  <div class="col-12 col-md-5 mb-3 d-flex flex-column">
    <div class="black-frame small mini-frame-300 circle mt-auto ms-auto me-auto me-md-0 mb-3" >
      <img src="/assets/images/original/rin-linin/rin_linin_chocolateProgram.png" srcset="{{ '/assets/images/original/rin-linin/rin_linin_chocolateProgram.png' | imageSrcset}}"/>
    </div>
    <div class="black-frame ms-auto me-auto me-md-0 mini-frame-500">
      <img src="/assets/images/original/rin-linin/rin_linin_prypec.png" srcset="{{'/assets/images/original/rin-linin/rin_linin_prypec.png' | imageSrcset}}"/>
    </div>
  </div>
  <div class="col-12 col-md-7 mb-3 d-flex">
    <div class="white-double-frame my-auto ms-auto ms-md-0 me-auto">
      <img src="/assets/images/original/rin-linin/rin_linin_cookie_chcoladka.png" srcset="{{ '/assets/images/original/rin-linin/rin_linin_cookie_chcoladka.png' | imageSrcset}}"/>
    </div>
  </div>
</div>

