<div class="section-sub-topic section-color mb-5">
  {{'CHARACTER_INFO.MY_ART' | translate}}
</div>
<div class="caption mb-5 after-reflect">
  {{'GLOBAL.WARNING' | translate}}<br />
  {{'GLOBAL.DONT_LIST' | translate}}<br />
  {{'GLOBAL.DONT_LIST_SUB' | translate}}
</div>
<app-gallery-room [galleryRoom]="rinLininRoom" [enableAutoScrollFirstRow]="false" ></app-gallery-room>
<div class="blank-space">&nbsp;</div>
<div class="grid grid-cols-1 md:grid-cols-2 row-width-full0 mx-auto">
  <div class="mb-3">
    <div class="white-frame mx-3">
      <img src="/assets/images/original/rin-linin/rin_linin_design_front.jpg?v=1" srcset="{{'/assets/images/original/rin-linin/rin_linin_design_front.jpg' | imageSrcset}}"/>
    </div>
  </div>
  <div class="mb-3 flex">
    <div class="white-frame my-auto">
      <img src="/assets/images/original/rin-linin/rin_linin_design_back.jpg?v=1" srcset="{{ '/assets/images/original/rin-linin/rin_linin_design_back.jpg' | imageSrcset}}"/>
    </div>
  </div>
</div>
<div class="blank-space">&nbsp;</div>
<div class="section-sub-topic section-color mb-5">
  {{'CHARACTER_INFO.FAN_ART' | translate}}
</div>
<app-gallery-room [galleryRoom]="rinLininFanart"></app-gallery-room>

