@use "character-frame" as char;
@use "variables" as var;
@import "bootstrap-mixin";

.cover {
    background-image: url('/assets/images/commission/commission_cover.webp');
    background-position: 95% 36%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}

.example-image {
  border-radius: 16px;
}

.face-example {
  background-image: url('/assets/images/commission/face_commission_example.webp');
  background-position: 100% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;
  border-radius: 16px;
}

.half-example {
  background-image: url('/assets/images/commission/half_commission_example.webp');
  background-position: 96% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  border-radius: 16px;
}

.full-example {
  background-image: url('/assets/images/commission/full_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  border-radius: 16px;
}

.bg-detail-example {
  background-image: url('/assets/images/commission/detail_bg_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  border-radius: 16px;
}

.price {
  font-family: "Sarabun";
  border: 1px solid;
  border-radius: 16px;
  padding: 0px 6px;
  font-size: 20px;
}

// tab style
.tab-list {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  white-space: pre;

  @include media-breakpoint-up(md) {
    justify-content: center;
  }
}

$inactive-tab: #11002494;
.tab-item {
  margin-right: 10px;
  border-radius: 16px 16px 0 0;
  color: var.$white;
  padding: 8px 20px;
  font-size: 1.1rem;
  background-color: $inactive-tab;
  cursor: pointer;

  &.active {
    background-color: var.$dark-tab;
    font-weight: 700;
  }
}

.tab-body {
  background: linear-gradient(0deg, rgba(17, 0, 36, 0.41) 0%, #{var.$dark-tab} 100%);
}
