<div class="cover">
</div>
<div class="container-fluid container-md mt-4">
  <div>
    <app-reflection-font [text]="'COMMISSION.TITLE' | translate"
      [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="section-content section-color after-reflect mb-3">
    {{'COMMISSION.DESCRIPTION' | translate}}
  </div>
  <!-- <div class="row mb-5 d-none d-md-flex">
    <div class="col-12 col-md-4 mb-3 mb-md-0 d-flex flex-column justify-content-between">
      <div class="description-frame w-100 mb-3 top-right-frame">
        <div class="face-example mb-3"></div>
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.FACE.TITLE' | translate}}
        </div>
        <div class="price">{{ 'COMMISSION.FACE.PRICE' | translate}}</div>
        <div class="section-content mb-3 mx-auto">
          <span [innerHTML]="'COMMISSION.FACE.CHARACTER' | translate"></span><br/>
          <span [innerHTML]="'COMMISSION.FACE.BG' | translate"></span>
        </div>
      </div>
      <div class="description-frame w-100">
        <div class="half-example mb-3"></div>
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.HALF.TITLE' | translate}}
        </div>
        <div class="price">{{ 'COMMISSION.HALF.PRICE' | translate}}</div>
        <div class="section-content mb-3 mx-auto">
          <span [innerHTML]="'COMMISSION.HALF.CHARACTER' | translate"></span><br/>
          <span [innerHTML]="'COMMISSION.HALF.BG' | translate"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-100 h-100">
        <div class="full-example mb-3"></div>
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.FULL.TITLE' | translate}}
        </div>
        <div class="price">{{ 'COMMISSION.FULL.PRICE' | translate}}</div>
        <div class="section-content mb-3 mx-auto">
          <span [innerHTML]="'COMMISSION.FULL.CHARACTER' | translate"></span><br/>
          <span [innerHTML]="'COMMISSION.FULL.BG' | translate"></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-100 h-100">
        <div class="bg-detail-example mb-3"></div>
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.DETAIL.TITLE' | translate}}<span class="d-inline d-md-none d-lg-inline">{{ 'COMMISSION.DETAIL.TITLE2' | translate}}</span>
        </div>
        <div class="price">{{ 'COMMISSION.DETAIL.PRICE' | translate}}</div>
        <div class="section-content mb-3 mx-auto">
          <span [innerHTML]="'COMMISSION.DETAIL.CHARACTER' | translate"></span><br/>
          <span [innerHTML]="'COMMISSION.DETAIL.BG' | translate"></span>
        </div>
      </div>
    </div>
  </div> -->
  <app-frame-item-animation>
    <div class="description-frame w-100 top-right-frame d-flex flex-column h-100">
      <div class="face-example flex-grow-1 mb-3"></div>
      <div class="section-sub-topic mb-1">
        {{ 'COMMISSION.FACE.TITLE' | translate}}
      </div>
      <div class="price">{{ 'COMMISSION.FACE.PRICE' | translate}}</div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'COMMISSION.FACE.CHARACTER' | translate"></span><br/>
        <span [innerHTML]="'COMMISSION.FACE.BG' | translate"></span>
      </div>
    </div>
    <div class="description-frame w-100 bottom-right-frame d-flex flex-column h-100">
      <div class="half-example flex-grow-1 mb-3"></div>
      <div class="section-sub-topic mb-1">
        {{ 'COMMISSION.HALF.TITLE' | translate}}
      </div>
      <div class="price">{{ 'COMMISSION.HALF.PRICE' | translate}}</div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'COMMISSION.HALF.CHARACTER' | translate"></span><br/>
        <span [innerHTML]="'COMMISSION.HALF.BG' | translate"></span>
      </div>
    </div>
    <div class="description-frame w-100 h-100 center-frame d-flex flex-column h-100">
      <div class="full-example flex-grow-1 mb-3"></div>
      <div class="section-sub-topic mb-1">
        {{ 'COMMISSION.FULL.TITLE' | translate}}
      </div>
      <div class="price">{{ 'COMMISSION.FULL.PRICE' | translate}}</div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'COMMISSION.FULL.CHARACTER' | translate"></span><br/>
        <span [innerHTML]="'COMMISSION.FULL.BG' | translate"></span>
      </div>
    </div>
    <div class="description-frame w-100 h-100 left-frame d-flex flex-column h-100">
      <div class="bg-detail-example flex-grow-1 mb-3"></div>
      <div class="section-sub-topic mb-1">
        {{ 'COMMISSION.DETAIL.TITLE' | translate}}<span class="d-inline d-md-none d-lg-inline">{{ 'COMMISSION.DETAIL.TITLE2' | translate}}</span>
      </div>
      <div class="price">{{ 'COMMISSION.DETAIL.PRICE' | translate}}</div>
      <div class="section-content mb-3 mx-auto">
        <span [innerHTML]="'COMMISSION.DETAIL.CHARACTER' | translate"></span><br/>
        <span [innerHTML]="'COMMISSION.DETAIL.BG' | translate"></span>
      </div>
    </div>
  </app-frame-item-animation>
  <div class="row mb-5">
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-100 h-100 text-start p-4 mb-3">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.CAN_DO.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_2' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_3' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_4' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-100 h-100 text-start p-4">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.DONT_DO.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.DONT_DO.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.DONT_DO.ITEM_2' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-100 h-100 text-start p-4">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.PAYMENT.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_2' | translate}}</li>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_3' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section-topic section-color mb-4">
    {{ 'COMMISSION.EXAMPLE' | translate}}
  </div>
</div>
<div class="tab-list">
  <div class="tab-item active">
    {{ 'COMMISSION.FACE.TITLE' | translate}}
  </div>
  <div class="tab-item">
    {{ 'COMMISSION.HALF.TITLE' | translate}}
  </div>
  <div class="tab-item">
    {{ 'COMMISSION.FULL.TITLE' | translate}}
  </div>
  <div class="tab-item">
    {{ 'COMMISSION.DETAIL.TITLE' | translate}}
    {{ 'COMMISSION.DETAIL.TITLE2' | translate}}
  </div>
</div>
<div class="tab-body">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
