@use "character-frame" as char;
@use "commission-frame" as commission;
@use "variables" as var;
@use "tab-style" as tab;

.cover {
    background-image: url('/assets/images/commission/commission_cover.webp');
    background-position: 95% 36%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;

    @media (width >= var.$lg) {
        min-height: 226px;
     }
}
