<div class="cover">
</div>
<div class="container-fluid container-md mt-4">
  <div>
    <app-reflection-font [text]="'COMMISSION.TITLE' | translate" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="section-content section-color after-reflect mb-3">
    {{'COMMISSION.DESCRIPTION' | translate}}
  </div>
</div>
<app-frame-item-mobile [activeTab]="activeTab" (changeActiveTab)="changeActiveTab($event)"></app-frame-item-mobile>
<div class="container-fluid container-md mt-4 mt-md-0">
  <app-frame-item-animation class="hidden d-mblock" [activeVal]="activeTab" (activeTab)="changeActiveTab($event)">
  </app-frame-item-animation>
  <div class="row mb-5">
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-full h-full text-start p-4 mb-3">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.CAN_DO.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_2' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_3' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_4' | translate}}</li>
            <li>{{ 'COMMISSION.CAN_DO.ITEM_5' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-full h-full text-start p-4">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.DONT_DO.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.DONT_DO.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.DONT_DO.ITEM_2' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="description-frame w-full h-full text-start p-4">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.PAYMENT.TITLE' | translate}}
        </div>
        <div class="section-content mb-3 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_2' | translate}}</li>
            <li>{{ 'COMMISSION.PAYMENT.ITEM_3' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="description-frame w-full h-full text-start p-4 mb-3  flex flex-col">
        <div class="section-sub-topic mb-1">
          {{ 'COMMISSION.METHOD.TITLE' | translate}}
        </div>
        <div class="section-content mb-1 mx-auto">
          <ul>
            <li>{{ 'COMMISSION.METHOD.ITEM_1' | translate}}</li>
            <li>{{ 'COMMISSION.METHOD.ITEM_2' | translate}}</li>
            <li>{{ 'COMMISSION.METHOD.ITEM_3' | translate}}</li>
            <li>{{ 'COMMISSION.METHOD.ITEM_4' | translate}}</li>
          </ul>
        </div>
        <div class="flex mt-auto">
          <a routerLink="/commission-form" class="ms-auto">
            <app-more-button>
              {{ 'COMMISSION.CONTINUE' | translate}}
              <span class="material-symbols-rounded">
                chevron_right
                </span>
            </app-more-button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="description-frame w-full h-full text-start p-4 flex flex-col">
        <div class="section-sub-topic mb-1">
          {{ 'TOS.TITLE' | translate}}
        </div>
        <div class="section-content mb-1 mx-auto">
          <ul>
            <li>{{ 'TOS.GENERAL_RULE.ITEM_1' | translate}}</li>
            <li>{{ 'TOS.GENERAL_RULE.ITEM_2' | translate}}</li>
            <li>{{ 'TOS.GENERAL_RULE.ITEM_3' | translate}}</li>
            <li>{{ 'TOS.GENERAL_RULE.ITEM_4' | translate}}</li>
            <li>{{ 'TOS.GENERAL_RULE.ITEM_5' | translate}}</li>
            <li><b>{{ 'TOS.COPY_RIGHT.ITEM_1.TOPIC' | translate}}</b></li>
            <ul>
              <li>{{ 'TOS.COPY_RIGHT.ITEM_1.ITEM_1' | translate}}</li>
              <li>{{ 'TOS.COPY_RIGHT.ITEM_1.ITEM_2' | translate}}</li>
              <li>{{ 'TOS.COPY_RIGHT.ITEM_1.ITEM_3' | translate}}</li>
            </ul>
            <li>...</li>
          </ul>
        </div>
        <div class="flex mt-auto">
          <a routerLink="/tos" class="ms-auto">
            <app-more-button>
              {{ 'TOS.MORE' | translate}}
            </app-more-button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-topic section-color mb-4">
    {{ 'COMMISSION.EXAMPLE' | translate}}
  </div>
</div>
<div class="tab-list" [appScrollToCenter]="22">
  <div class="tab-item" [class.active]="activeTab === commissionTab.FACE || activeTab === undefined"
    (click)=changeActiveTab(commissionTab.FACE)>
    {{ 'COMMISSION.FACE.TITLE' | translate}}
  </div>
  <div class="tab-item" [class.active]="activeTab === commissionTab.HALF" (click)=changeActiveTab(commissionTab.HALF)>
    {{ 'COMMISSION.HALF.TITLE' | translate}}
  </div>
  <div class="tab-item" [class.active]="activeTab === commissionTab.FULL" (click)=changeActiveTab(commissionTab.FULL)>
    {{ 'COMMISSION.FULL.TITLE' | translate}}
  </div>
  <div class="tab-item" [class.active]="activeTab === commissionTab.DETAIL" (click)=changeActiveTab(commissionTab.DETAIL)>
    {{ 'COMMISSION.DETAIL.TITLE' | translate}}
    {{ 'COMMISSION.DETAIL.TITLE2' | translate}}
  </div>
</div>
<div>
  <div [class.hidden]="activeTab !== commissionTab.FACE && activeTab !== undefined">
    <app-face-commission-example></app-face-commission-example>
  </div>
  <div [class.hidden]="activeTab !== commissionTab.HALF">
    <app-half-commission-example></app-half-commission-example>
  </div>
  <div [class.hidden]="activeTab !== commissionTab.FULL">
    <app-full-commission-example></app-full-commission-example>
  </div>
  <div [class.hidden]="activeTab !== commissionTab.DETAIL">
    <app-detail-commission-example></app-detail-commission-example>
  </div>
</div>
