@use "character-frame" as char;
@import "bootstrap-mixin";

.cover {
    background-image: url('/assets/images/commission/commission_cover.webp');
    background-position: 95% 36%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}

.example-image {
  border-radius: 16px;
}

.face-example {
  background-image: url('/assets/images/commission/face_commission_example.webp');
  background-position: 100% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;
  border-radius: 16px;
}

.half-example {
  background-image: url('/assets/images/commission/half_commission_example.webp');
  background-position: 96% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  border-radius: 16px;
}

.full-example {
  background-image: url('/assets/images/commission/full_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  border-radius: 16px;
}

.bg-detail-example {
  background-image: url('/assets/images/commission/detail_bg_commission_example.webp');
  background-position: 46% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  border-radius: 16px;
}

.price {
  font-family: "Sarabun";
  border: 1px solid;
  border-radius: 16px;
  padding: 0px 6px;
  font-size: 20px;
}
