
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'variables' as var;
@use '@angular/material' as mat;
@use 'utilities' as util;
@use 'material.custom' as mat-custom;
@use "styles/fonts" as font;
@use "picture-frame" as frame;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$rin-linin-art-showcase-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($rin-linin-art-showcase-theme);
}
:root {
  --color-border-wallpaper: #{var.$goldStrap};
  --color-wallpaper-light: #{var.$yellowStrap};
  --mdc-outlined-text-field-container-shape: #{var.$input-border-radius};
  --mdc-filled-text-field-container-color: #{var.$white};
  --mat-select-panel-background-color: #{var.$white};
  --mdc-filled-text-field-active-indicator-color: #{var.$white};
  --mdc-filled-text-field-hover-active-indicator-color: #{var.$pink-bg};
  --mdc-filled-text-field-focus-active-indicator-color: #{var.$pink-bg};
  --mdc-filled-button-container-shape: #{var.$input-border-radius};
}

.mat-mdc-select-panel-above div.mat-mdc-select-panel,
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel,
.mat-mdc-autocomplete-panel-above div.mat-mdc-autocomplete-panel,
.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
 border-radius: var.$select-border-radius!important;
}
// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($rin-linin-art-showcase-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($rin-linin-art-showcase-theme);
/* You can add global styles to this file, and also import other style files */


body {
    background: linear-gradient(180deg in oklab, #{var.$blue-bg}, #{var.$pink-bg});
    top:0; left:0;
    z-index:-1;
    position:fixed;
    content: "";
    display: block;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
}

.border-wall-paper {
    width: 100%;
    background: repeating-linear-gradient(45deg,
    var(--color-border-wallpaper),
    var(--color-border-wallpaper) 4px,
    var(--color-wallpaper-light) 4px,
    var(--color-wallpaper-light) 8px);
    min-height: 12px;
    border: var(--color-border-wallpaper) solid 4px;
    border-left: transparent;
    border-right: transparent;
}

button {
    border: inherit;
}

body {
  font-family: "Sarabun", "Helvetica Neue", sans-serif;
}


a {
  color: inherit;
  text-decoration: none;

  &.underline:hover {
    text-decoration:underline;
  }
}
