<div class="flex justify-center mb-5">
  <a href="https://www.youtube.com/@rinlinin" class="social-media" target="_blank" rel="noopener">
    <img src="/assets/images/icons/youtube.svg" alt="youtube" title="youtube" class="me-2"/>
  </a>
  <a href="https://www.deviantart.com/rin-linin" class="social-media" target="_blank" rel="noopener">
    <img src="/assets/images/icons/deviantart.svg" alt="deviantart" title="deviantart" class="me-2"/>
  </a>
  <a href="https://github.com/linnilsupak" class="social-media" target="_blank" rel="noopener">
    <img src="/assets/images/icons/github.png" srcset="{{ '/assets/images/icons/github.png' | imageSrcset}}" alt="github title=github"/>
  </a>
</div>
