@use "character-frame" as char;

.description-frame {
  max-width: 500px;
  height: 100%;
  width: 500px;
}

.character-frame {
  // border-radius: 16px;
  min-width: 366px;
  min-height: 280px;
  max-width: 400px;
  display: inline-block;
    padding: 40px;
    border-width: 20px;
    border-style: solid;
    border-color: #dbd4d4 #e4e3e3 #ffffff #ebe9e9;
    background: #f5f5f57d;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
    background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: linear-gradient(#e5e4df7d, #CDCDC6);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .6), 0 5px 2px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .8);
    position: relative;
    overflow: hidden;

    &.small {
      padding: 20px;
    }

    ::before {
      content: "";
      position: absolute;
      top: -175px;
      right: -20%;
      // width: 400px;
      // height: 400px;
      transform: rotateZ(-40deg);
      -webkit-transform: rotateZ(-40deg);
      -moz-transform: rotateZ(-40deg);
      -o-transform: rotateZ(-40deg);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .4)), to(rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
      background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    }

    img {
      border-width: 2px;
      border-style: solid;
      border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
      box-shadow: 0 -1px 1px rgba(0, 0, 0, .1), 0 1px 1px 1px rgba(255, 255, 255, .7);
      max-height: 100%;
      max-width: 100%;
      object-fit: fill;
    }
  }
