<div class="row">
    <div class="col-12 col-lg-6 d-flex mb-3 mb-lg-0" [class.order-lg-last]="arrangement === 'right'">
      <img src="{{imageUrl}}" class="w-100 character-frame my-auto" [class.ms-lg-auto]="arrangement === 'left'">
    </div>
    <div class="col-12 col-lg-6 d-flex">
      <div class="description-frame p-md-5 d-flex flex-column" 
      [class.order-lg-first]="arrangement === 'right'" [class.ms-lg-auto]="arrangement === 'right'">
        <div class="section-topic mb-2 mb-md-4">
          {{ title | translate}}
        </div>
        <div class="section-content mb-4">
          {{description | translate}}
        </div>
        <div class="mt-auto text-end">
          <app-more-button>
            {{ 'GLOBAL.MORE' | translate}}
          </app-more-button>
        </div>
      </div>
    </div>
  </div>