<div class="row">
    <div class="col-12 flex mb-3 mb-lg-0" [class.col-lg-6]="arrangement === 'right'" [class.col-lg-7]="arrangement === 'left'"
    [class.order-lg-last]="arrangement === 'right'">
      <img src="{{imageUrl}}" class="w-100 character-frame my-auto" [class.ms-lg-auto]="arrangement === 'left'" [alt]="title">
    </div>
    <div class="col-12 flex" [class.col-lg-6]="arrangement === 'right'" [class.col-lg-5]="arrangement === 'left'">
      <div class="description-frame p-md-5 flex flex-column"
      [class.order-lg-first]="arrangement === 'right'" [class.ms-lg-auto]="arrangement === 'right'">
        <div class="section-sub-topic mb-2 mb-md-4">
          {{ title | translate}}
        </div>
        <div class="section-content mb-4">
          {{description | translate}}
        </div>
        <div class="mt-auto text-end">
          <a routerLink="/character-info/{{ characterName }}">
            <app-more-button>
              {{ 'GLOBAL.MORE' | translate}}
            </app-more-button>
          </a>
        </div>
      </div>
    </div>
  </div>
