@import "bootstrap-mixin";
@import"picture-frame";


.cover {
    // object-fit: none;
    background: url('/assets/images/original/original-cover.webp?v=2') no-repeat 95% 9%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}
