@import "bootstrap-mixin";


.cover {
    background: url('/assets/images/home-cover.webp?v=2') no-repeat 95% 9%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
     }
}
.about-me-line {
  width: 100%;
  max-width: 800px;
  border: 1px solid white;
}
