<div class="container-fluid container-lg">
    <div class="section-sub-topic section-color pt-5 mb-5">
      {{ 'COMMISSION.CUSTOMER' | translate}}
    </div>
    <app-customer-feedback [customerFeedback]="customerFeedback"></app-customer-feedback>
    <div class="section-sub-topic section-color pt-5 my-5">
      {{ 'COMMISSION.PORTRAIT' | translate}}
    </div>
    <div class="limit-width mx-auto">
        <app-gallery-room [galleryRoom]="fullPortrait1" [pattern]="'equal'"></app-gallery-room>
    </div>
    <app-gallery-room [galleryRoom]="fullPortrait3" [pattern]="'equal'"></app-gallery-room>
    <div class="limit-width mx-auto">
        <app-gallery-room [galleryRoom]="fullPortrait2" [pattern]="'equal'" class="w-100"></app-gallery-room>
    </div>
    <div class="limit-width-small mx-auto d-none d-md-block">
      <app-gallery-room [galleryRoom]="fullPortrait4" [pattern]="'equal'"></app-gallery-room>
    </div>
  </div>
  <div class="hightlight-action  px-1 px-md-4 py-4 my-5">
    <div class="container-fluid container-lg">
      <div class="row after-reflect">
        <div class="col-12 col-md-6">
          <img src="/assets/images/commission/full/portrait_full_commission_exp.png" srcset="{{ '/assets/images/commission/full/portrait_full_commission_exp.png' | imageSrcset }}"
          class="w-100 mt-3"/>
        </div>
        <div class="col-12 col-md-6 text-center d-flex">
          <div class="description-frame p-4 mt-3 my-md-auto w-100">
            <div class="section-sub-topic mb-1">
              Want an art for your book cover?
            </div>
            <div class="mt-2">
              A simple wallpaper to your phone<br/>
              A gift to someone<br/>
              simple illustration to your book
            </div>
            <div class="section-sub-topic my-3">
              You come at a right place!
            </div>
            <div class="my-5 d-flex">
              <a [routerLink]="'/commission-form/full'" [queryParams]="{ prefill: '?usp=pp_url&entry.16310926=Portrait'}" class="mx-auto">
                <app-playground-menu [label]="'Continue'"></app-playground-menu>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">&nbsp;</div>
  <div class="container-fluid container-lg">
    <div class="section-sub-topic section-color pt-5 mb-5">
      {{ 'COMMISSION.WIDESCREEN' | translate}}
    </div>
    <div class="limit-width mx-auto">
      <app-gallery-room [galleryRoom]="fullWidescreen1" [pattern]="'equal'"></app-gallery-room>
    </div>
  </div>
  <div class="hightlight-action  px-1 px-md-4 py-4 mt-5">
    <div class="container-fluid container-lg">
      <div class="row after-reflect">
        <div class="col-12 col-md-7">
          <img src="/assets/images/commission/full/widescreen_full_commission_exp.png" srcset="{{ '/assets/images/commission/full/widescreen_full_commission_exp.png' | imageSrcset }}"
          class="w-100 mt-3"/>
        </div>
        <div class="col-12 col-md-5 text-center d-flex">
          <div class="description-frame p-4 mt-3 my-md-auto w-100">
            <div class="section-sub-topic mb-1">
              Want a gift for your loved one?
            </div>
            <div class="mt-2">
              A simple scene of your memory<br/>
              A picture for your wall<br/>
              an illustration for your book
            </div>
            <div class="section-sub-topic my-3">
              You come at a right place!
            </div>
            <div class="my-5 d-flex">
              <a [routerLink]="'/commission-form/full'" [queryParams]="{ prefill: '?usp=pp_url&entry.16310926=Widescreen'}" class="mx-auto">
                <app-playground-menu [label]="'Continue'"></app-playground-menu>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  