<div class="cover">
</div>
<div class="container-fluid container-lg mt-5">
  <div>
    <app-reflection-font [text]="'Tarot card meaning'" [fontClass]="'mx-auto'"></app-reflection-font>
  </div>
  <div class="caption mb-2 after-reflect">
    {{'GLOBAL.WARNING' | translate}}<br />
    {{'GLOBAL.DONT_LIST' | translate}}<br />
    {{'GLOBAL.DONT_LIST_SUB' | translate}}
  </div>
  <app-tarot-search [formValue]="tarotFormData" (searchVal)="selectedCard=$event"
  (onSelectCard)="selectCard($event)" (onselectCategory)="selectCategory($event)"></app-tarot-search>

  @if ((tarotCategory.MAJOR_ARCANA === selectedCategory || !selectedCategory) && tarots.major) {
    <div class="section-topic section-color mb-2">
      {{'TAROT.MAJOR' | translate}}
    </div>
    <div class="section-color mb-4">
      {{'TAROT.MAJOR_DESC' | translate}}
    </div>
    <div class="row justify-content-center align-items-start">
      @for (card of tarots.major; track card.name) {
      <div class="my-3 col-4 col-lg-2 d-flex flex-column justify-content-center">
        <img src="{{ card?.imageUrl || '/assets/images/tarot/coming_soon_card.webp?v=1'}}" alt="{{card.name}}"
          class="card mb-3 mx-auto" />
        <h5 class="card-title">{{ card.name }}</h5>
      </div>
      }
    </div>
    <div class="blank-space">&nbsp;</div>
  }
  @if ((tarotCategory.WANDS === selectedCategory || !selectedCategory) && tarots.wands) {
    <div class="section-topic section-color mb-2">
      {{'TAROT.WANDS' | translate}}
    </div>
    <div class="section-color mb-4">
      {{'TAROT.WANDS_DESC' | translate}}
    </div>
    <div class="row justify-content-center align-items-start">
      @for (card of tarots.wands; track card.name) {
      <div class="my-3 col-4 col-lg-2 d-flex flex-column justify-content-center">
        <img src="{{ card?.imageUrl || '/assets/images/tarot/coming_soon_card.webp'}}" alt="{{card.name}}"
          class="card mb-3 mx-auto" />
        <h5 class="card-title">{{ card.name }}</h5>
      </div>
      }
    </div>
    <div class="blank-space">&nbsp;</div>
  }
  @if ((tarotCategory.CUPS === selectedCategory || !selectedCategory) && tarots.cups) {
    <div class="section-topic section-color mb-2">
      {{'TAROT.CUPS' | translate}}
    </div>
    <div class="section-color mb-4">
      {{'TAROT.CUPS_DESC' | translate}}
    </div>
    <div class="row justify-content-center align-items-start">
      @for (card of tarots.cups; track card.name) {
      <div class="my-3 col-4 col-lg-2 d-flex flex-column justify-content-center">
        <img src="{{ card?.imageUrl || '/assets/images/tarot/coming_soon_card.webp'}}" alt="{{card.name}}"
          class="card mb-3 mx-auto" />
        <h5 class="card-title">{{ card.name }}</h5>
      </div>
      }
    </div>
    <div class="blank-space">&nbsp;</div>
  }
  @if ((tarotCategory.SWORDS === selectedCategory || !selectedCategory) && tarots.swords) {
    <div class="section-topic section-color mb-2">
      {{'TAROT.SWORDS' | translate}}
    </div>
    <div class="section-color mb-4">
      {{'TAROT.SWORDS_DESC' | translate}}
    </div>
    <div class="row justify-content-center align-items-start">
      @for (card of tarots.swords; track card.name) {
      <div class="my-3 col-4 col-lg-2 d-flex flex-column justify-content-center">
        <img src="{{ card?.imageUrl || '/assets/images/tarot/coming_soon_card.webp'}}" alt="{{card.name}}"
          class="card mb-3 mx-auto" />
        <h5 class="card-title">{{ card.name }}</h5>
      </div>
      }
    </div>
    <div class="blank-space">&nbsp;</div>
  }
  @if ((tarotCategory.COINS === selectedCategory || !selectedCategory) && tarots.coins) {
    <div class="section-topic section-color mb-2">
      {{'TAROT.COINS' | translate}}
    </div>
    <div class="section-color mb-4">
      {{'TAROT.COINS_DESC' | translate}}
    </div>
    <div class="row justify-content-center align-items-start">
      @for (card of tarots.coins; track card.name) {
      <div class="my-3 col-4 col-lg-2 d-flex flex-column justify-content-center">
        <img src="{{ card?.imageUrl || '/assets/images/tarot/coming_soon_card.webp'}}" alt="{{card.name}}"
          class="card mb-3 mx-auto" />
        <h5 class="card-title">{{ card.name }}</h5>
      </div>
      }
    </div>
    <div class="blank-space">&nbsp;</div>
  }
</div>
