@use "variables" as var;
@import "bootstrap-mixin";
@import "picture-frame";


.cover {
    // object-fit: none;
    background: url('/assets/images/tarot/tarot_cover.webp?v=3') no-repeat 95% 8%;
    background-size: cover;
    min-height: 230px;

    @include media-breakpoint-up(lg) {
        min-height: 226px;
    }
}

.card-title {
    color: var.$white;
    font-weight: 700;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
        font-size: 4rem;
        font-size: 1.25rem;
    }
}

.card {
    min-width: 99px;
    min-height: 165px;
    width: 100%;
    // max-width: 142px;
    border-radius: 0.5rem;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #{var.$black};
    @include media-breakpoint-up(lg) {
      border-radius: 0.9rem;
    }
}

.select {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: inherit;
  }
}

.big-search {
  width: 100%;
  @include media-breakpoint-up(md) {
    width: inherit;
    min-width: 300px;
  }
}

.big-button {
  --mdc-filled-button-container-height: 58px;
}
