@use "variables" as var;

.cover {
    // object-fit: none;
    background: url('/assets/images/tarot/tarot_cover.webp?v=3') no-repeat 95% 8%;
    background-size: cover;
    min-height: 230px;

    @media (width >= var.$lg) {
        min-height: 226px;
    }
}

.card-title {
    color: var.$white;
    font-weight: 700;
    font-size: 1rem;
}

.card {
    min-width: 99px;
    min-height: 165px;
    width: 100%;
    // max-width: 142px;
    border-radius: 0.5rem;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #{var.$black};
    @media (width >= var.$lg) {
      border-radius: 0.9rem;
    }
}
